[2017-06-02 01:09] mikeb01 opened #360 "Error in 'Monitoring and Debugging' page?"
In the [Monitoring and Debugging](https://github.com/real-logic/Aeron/wiki/Monitoring-and-Debugging) page under Log Inspection, the command contains:
[code]
Should that instead be:
[code]

[2017-06-02 05:55] Msqs opened #361 "Utilizing a large number of streams"
The wiki says:

What are some of the effects that we can expect to see if we start utilizing a large number of streams?

What if we have 100 streams? 500 streams? 1000 streams? 5000 streams?

[2017-06-02 06:24] mjpt777 commented on #360
Thanks. Fixed.

[2017-06-02 06:24] #360 closed

[2017-06-02 06:38] mjpt777 commented on #361
The Sender has to linearly search over streams for sending the data and the subscribers will do similar when receiving data. The higher this number then the larger the latency.

I've seen customers run with 100s or even a 1000 streams and be happy with the results.

[2017-06-02 06:38] #361 closed

[2017-06-02 10:23] vontikov opened #362 "c++ aeron-client compilation fails with g++ 5.2.0"
To fix the issue you should set c++ standard explicitly by adding the line:
`set (CMAKE_CXX_STANDARD 14)`
at the top of   _aeron-client/src/main/cpp/CMakeLists.txt_

[2017-06-02 14:55] tmontgomery commented on #362
Thanks for this. What was the error being reported?

[2017-06-02 15:57] vontikov commented on #362
[code]

[2017-06-02 19:26] mjpt777 commented on #359
@neekolashall  I've committed a fix for this. Can you please build and test to see if it works for you?

[2017-06-05 06:13] neekolashall commented on #359
@mjpt777 Thanks for the quick response.  I can verify that the fix to the StatusMessageFlyweight has stopped it causing a JVM crash.  I did however hit one further alignment issue when starting the MediaDriver in the CncFileDescriptor which also causes a JVM crash.  It looks like the CLIENT_LIVENESS_TIMEOUT_FIELD_OFFSET needs a 4 byte pad, but this would break the Cnc compatibility and would need

[2017-06-05 07:11] mjpt777 commented on #359
We are bumping the CnC version on the next release so this is a good time to address this. Can you try the latest build? I've just made another change.

[2017-06-06 05:24] neekolashall commented on #359
Thanks again for the quire response time.  The media driver now operates without any alignment issues or crashes.

I have a residual issue where the clients are still not able to talk to the media driver (embedded or run in a separate JVM).  After tracing system calls and pmap/pfiles the memory mapped files appear to be created without issue but the DriverProxy times out waiting for the response w

[2017-06-06 07:39] mjpt777 commented on #359
Please close this one and investigate the other issue.

It may be helpful to use the logging media driver and set logging to all. Also worth using the `LogInspector` to view the created publications or images.

https://github.com/real-logic/Aeron/blob/master/aeron-samples/scripts/logging-media-driver

https://github.com/real-logic/Aeron/wiki/Monitoring-and-Debugging

[2017-06-06 09:46] #351 closed

[2017-06-06 09:46] #350 closed

[2017-06-06 09:48] mjpt777 commented on #155
Multi-destination now implemented.

[2017-06-06 09:48] #155 closed

[2017-06-06 09:48] mjpt777 commented on #17
Currently in progress.

[2017-06-06 09:48] #17 closed

[2017-06-06 09:48] #66 closed

[2017-06-06 09:49] mjpt777 commented on #355
Closing for now. Please reopen if it can be recreated.

[2017-06-06 09:49] #355 closed

[2017-06-06 09:50] #342 closed

[2017-06-06 16:21] jordanxlj opened #363 "[archiver] RecordingFragmentReader does not skip Padding frame"
RecordingFragmentReader does not skip Padding frame, it cause failed to check the max payload length when the ExclusivePublication try to claim.

[2017-06-09 06:38] jordanxlj commented on #363
@mjpt777 , thanks for your quick response, it does work.

[2017-06-09 06:38] #363 closed

[2017-06-14 18:10] goglusid opened #365 "Question: Pub/Sub wrt Memory Mapped Buffers"
I'm using the C++ API.

If an application has either an IPC Publication and an IPC Subscription or a Network Publication and a Spy Subscription, then the Publisher's term buffers get mapped twice.

Given that an IPC Subscription and a Spy Subscription directly reads the Publication's Term buffers, why are they mapped twice?

Also would it be feasible to only map the Publisher's term buffers once o

[2017-06-15 09:57] ppolukonda opened #366 "Unable to run BasicPublisher/BasicSubscriber - cnc.dat file not found"
Hi,
I am trying to run BasicPublisher/BasicSubscriber from Aeron-samples on my Windows 7 pc. It is throwing the following exception:

`Publishing to aeron:udp?endpoint=localhost:40123 on stream Id 10
Exception in thread "main" io.aeron.exceptions.DriverTimeoutException: CnC file not found: cnc.dat
	at io.aeron.Aeron$Context.connectToDriver(Aeron.java:920)
	at io.aeron.Aeron$Context.conclude(Aeron.

[2017-06-15 10:10] RichardWarburton commented on #366
Hi,

Have you got the media driver running in the background? If not then you need to start it, or get one of the samples to start an embedded media driver by passing -Daeron.sample.embeddedMediaDriver=true.

Hope that helps.

[2017-06-15 11:11] ppolukonda commented on #366
Thanks! That really helps. What is the recommended approach on running media driver? embedded or separate instance? Take scenario: Many Pubs Vs Many Subs.

Thanks!

[2017-06-15 11:24] RichardWarburton commented on #366
No problem.

I think it depends how you want to use Aeron. Media Driver instances sit on a box an send/receive UDP packets over the network, whilst ensuring that the mapped files and cleaned and rotated. If you've got multiple publishers or subscribers sitting in different processes on the same box then probably your best bet is to run separate a instance of the media driver and have it manage all

[2017-06-15 11:32] ppolukonda commented on #366
Yes agree. Thats how we have been using chronicle HFT solution at the moment. I can see MediaDriver is more like a broker instance running in the back ground. I am exploring aeron for using in one of our low-latency application.

Is it possible to share a sample properties file(s) that MediaDriver can use?

Thanks in advance!

[2017-06-15 12:26] mjpt777 commented on #365
What do you mean by mapped twice? Is that the once on the client and once in the driver or do you mean something else?

[2017-06-15 12:27] mjpt777 commented on #365
If it is to do with them being mapped once for the publication and then once for the subscription in the client then this is because they can have difference lifetimes and even be in different processes.

[2017-06-15 13:31] ppolukonda commented on #366
I think I can look into one of properties files here: https://github.com/real-logic/Aeron/tree/master/aeron-driver/src/main/resources

Thanks!

[2017-06-15 13:33] RichardWarburton commented on #366
Happy to help. Looks like you've found the examples and that this query is resolved so I'll close the issue.

[2017-06-15 13:33] #366 closed

[2017-06-15 15:35] goglusid commented on #365
Sorry for the misunderstanding and thanks for the fast reply.

Ex:
TermBufferSize: 8 MB
Process#1: Creates an 2 IPC Publications on stream 10
Process#2: Creates 2 IPC Subscriptions  on stream 10.
Process#3: Creates 4 IPC Subscriptions  on stream 10.

In this example:

Process#1: Has a working set memory size: ~29 MB
Process#2: Has a working set memory size: ~54 MB
Process#3: Has a working set memo

[2017-06-15 15:38] goglusid commented on #365
In this example, the MediaDriver as a working set memory size: ~109 MB. Meaning it also maps the same term buffers multiple times.

[2017-06-15 16:10] mjpt777 commented on #365
The publications are concurrent so are treated differently. We could save a mapping on the subscriber side but is it really worth it? Consider that the memory is mapped, it is the same memory just under a different mapping. It is not like more physical memory is required.

[2017-06-15 16:57] goglusid commented on #365
I'm running in a process compiled in 32 Bits. On Windows, when using the large address space process flag, I can have a max of 4 GB of application space. My current understanding is that each mapping subtracts from this 4 GB limit. Also since Subscription aren't thread safe, I need one for each thread within that process. Add to this the fact that I'm planning to have a lot of remote hosts meaning

[2017-06-15 18:46] mjpt777 commented on #365
The mappings in the driver cannot be reduced as the absolutely essential. The only potential saving is the buffers in the client for subscriptions. I can take a look at how much effort that would be consolidate and ref count. It would save on TLB entries and maybe help the Archiver.

I feel sorry for you on 32-bit Windows :-) You will also pay a significant performance penalty for that.

[2017-06-20 19:53] karypid commented on #262
Is there any reason why a media driver being restarted is so dramatic in Aeron? What problems could arise if you installed an error handler that caught the `DriverTimeoutException` and simply switched to 'recovery' mode?

What I mean by that, is have applications periodically try to reconnect, waiting for the media driver to come back. When they succeed, thy can re-create subsrciptions/publication

[2017-06-21 07:56] karypid opened #367 "Is there a user forum for Aeron? [question]"
As far as I can tell, apart from the wiki and the issues tagged with [question](https://github.com/real-logic/Aeron/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3Aquestion%20) here, there is no forum for (new) users to simply fire off questions and share experiences.

I find this sort of group chat becomes a valuable resource over time, as many questions can be answered by searching there. Why not c

[2017-06-21 08:11] RichardWarburton commented on #367
I appreciate that its not the same thing, but there is a gitter chat room for asking ad-hoc questions - gitter.im/real-logic/Aeron.

[2017-06-21 08:11] nitsanw commented on #367
hi @karypid!
There's a gitter channel for informal chats, and the issues and wiki as further searchable resources. I understand your preference for mailing groups, but in the presence of these 3 existing locations I'm not sure adding a mailing list will help.
I think the process should be:
* Search wiki (offer feedback on anything lacking or confusing)
* Search issues/questions (perhaps useful con

[2017-06-21 08:12] #367 closed

[2017-06-21 11:56] mjpt777 commented on #262
Determining the exact state of a system under failure is tricky. There is no "simply" to it usually. You can handle this yourself and try to reconnect. We provide the basics if you use:

https://github.com/real-logic/Aeron/blob/master/aeron-client/src/main/java/io/aeron/CommonContext.java#L374

[2017-06-21 12:45] karypid opened #368 "Why does a media driver restart require that all client processes also restart? [question]"
Hello,

In issue #274 , you state:

Why is a media driver restart so 'dramatic' (for lack of a better word)?

I would like to toy with the concept for having clients that interact via the external media driver "recover". Basically if another JVM that connects to the media driver loses that connection, it would close all publications/subscriptions, close the connection with Aeron.close(), then re-e

[2017-06-21 16:29] karypid commented on #368
So, I did a test in Windows as follows:

- A client is in a loop trying to connect.
- When connected the client creates a publication.
- Client then enters a loop waiting for a subscriber to appear.

I noticed that the following sequence causes the driver to not be able to run:

1. Start test client
Wait to see it try to connect a few times unsuccessfully...

2. Start media driver
Wait to see clie

[2017-06-21 16:41] mjpt777 commented on #368
Try closing all clients, i.e. `Aeron.close()` before restarting the driver.

[2017-06-21 17:02] karypid commented on #368
The problem is in class Publication I think:

[code]

verifyActive() throws an exception and publication.channel() is never touched...

Disclaimer: I literally just started looking into this code; I may be way off...

[2017-06-21 17:13] mjpt777 commented on #368
You should just ignore closing the publications and subscriptions and just close the Aeron client. This is more forceful. I'll update the release as it does not need the driver check.

[2017-06-21 17:24] karypid commented on #368
Thank you, it works after commenting out:

[code]

The change for IllegalStateException should steer users in the right direction. I will add actual subscribers and continue testing (also on Linux) and report here if I run into any other issues.

[2017-06-22 12:29] karypid commented on #368
Related question(s):

1) Driver timeout milliseconds.

The description reads "The timeout in milliseconds after which the driver is considered dead if it does not update its C'n'C timestamp." In my testing I lowered this value in order to speed up detection of a "dead driver".

- Are there any guidelines on its value? 10 seconds seems quite high. How does this affect Aeron if set to (say) 1 second

[2017-06-22 15:41] mjpt777 commented on #368
I've added the ability to set the driver timeout in milliseconds via the `aeron.driver.timeout` system property.

Due to garbage collection, page cache flushing, zone reclaims, scheduling starvation, etc. it is unwise to set a timeout less than a few seconds unless you have a very well tuned and setup machine.

[2017-06-22 15:43] tmontgomery commented on #368
The CnC file contains the client liveness timeout that the driver will use. This needs to be communicated to the clients. The timeout that the clients should use for the driver depends on how often the driver updates the timestamp.

Driver incarnation is a black hole that adds no value. Each time the driver starts it starts with a clean state. If a client knows it is communicating with an "old" dr

[2017-06-22 17:42] karypid commented on #368
@mjpt777 thanks for this change. Your points about GC/OS pauses is noted.

[2017-06-22 18:01] karypid commented on #368
@tmontgomery That was precisely what I wanted to ensure: that all previous data "from the wire" is discarded. I was worried the new media driver may deliver messages the previous instance received, so therefore the application code needs to defend against it. Based on your explanation I see this is not a concern.

[2017-06-23 15:08] karypid commented on #368
Unfortunately reconnecting in Linux seems to be unstable. Basically, when I restart the media driver, the publisher connects and then tries to add the publication, but I sometimes I get a SIGSEGV.

[code]

[2017-06-23 15:29] mjpt777 commented on #368
Do you have a line number for the SIGSEGV in the core dump?

[2017-06-23 15:37] karypid commented on #368
`# Failed to write core dump. Core dumps have been disabled. To enable core dumping, try "ulimit -c unlimited" before starting Java again`

I've turned that on and will chase it. Unfortunately it's just hard to reproduce.... Only got it twice in the past 8 hours. Will have more time to fiddle so I'm sure I'll manage to track it.

[2017-06-23 20:08] karypid commented on #368
Just a quick update - it seems to me that the SIGSEGV is not the result of some native code but a direct buffer access:

[code]

I am going to switch back to my test publisher and see if I can reproduce this with a snippet.

I am also considering a different approach: have a custom media driver launcher that picks a new aeronDirectory every time (e.g. /dev/shm/aeron-${pid}) so that a fresh locatio

[2017-06-24 13:29] mjpt777 commented on #368
If you try with the latest build it should close the client on a driver timeout.

[2017-06-30 08:40] karypid opened #369 "Using Eclipse"
Hello,

I'm opening this issue to discuss using Eclipse with Aeron+friends. Hope others will chip in.

# Summary

1. Aeron and some core dependencies (Agrona, SBE) use Gradle for their build system. It is recommended you install the [Buildship Gradle Integration plugin](https://marketplace.eclipse.org/content/buildship-gradle-integration).
2. Aeron uses snapshot dependencies for [real-logic/agrona

[2017-06-30 10:02] jordanxlj opened #370 "Join position is not equal 0, when I replay the file, subscriber blocked for the invalid frame."
I have used archiver to record and replay. I recorded a channel which join position is not equal 0, when I replay the file, the subscriber blocked for the invalid frame.

My frame payload length is 256 bytes, total length is 288 bytes. So the next frame should be started from 0x664E0, but the next frame is all with zero.

![image](https://user-images.githubusercontent.com/4532524/27730935-aeb62170

[2017-06-30 10:04] jordanxlj commented on #370
The screen is from the share memory imag file.

[2017-06-30 10:06] jordanxlj commented on #370
I use the master trunk version of 2017.6.8.

[2017-06-30 10:07] jordanxlj commented on #370
I have already check recording file content, it's OK. The block position is not fixed.

[2017-06-30 10:11] jordanxlj commented on #370
I add some log, buffer claim is committed.

![image](https://user-images.githubusercontent.com/4532524/27731460-96fc5020-5dbf-11e7-9718-65fff2b780fa.png)

[2017-06-30 11:03] mjpt777 commented on #369
I've renamed the git project from Agrona to agrona. I'm looking at doing the Aeron one next.

[2017-06-30 12:35] karypid commented on #369
I don't think that will help. It's really more of an Eclipse/Buildship problem

To describe it better: you have a repository called Agrona (or agrona, doesn't matter).

Inside it there's a gradle project that has two modules:

project(':agrona')
project(':agrona-agent')

Now, when Buildship imports this it creates N+1 projects in eclipse: one per gradle porject/module and then an extra "special" o

[2017-06-30 14:52] mjpt777 commented on #369
Thanks, that is interesting to know. I think going to lowercase is useful anyway as I've seen issues with case on windows.

[2017-07-01 13:47] karypid commented on #369
So, I stand corrected; this DID help. Apparently Buildship is aware of potential clashes so it does check whether one of the modules matches the git directory name, only it does that in a case-sensitive manner.

Therefore, using "agrona" for the git URL will create a local "agrona" git clone, meaning Buildship detects this and imports successfully.

Using "Agrona" for the git URL will create a loc

[2017-07-01 14:19] #369 closed

[2017-07-01 15:50] jordanxlj commented on #370
Subscriber have already processed term(-1134055397) termOffset(@27c0c0), but why it send NAK termOffset(@83fa0)?

The debug info is below, thanks.
[debug.txt](https://github.com/real-logic/aeron/files/1117216/debug.txt)

[2017-07-03 14:02] nitsanw commented on #370
Hi @jordanxlj,
Archiver is under active development, not yet ready for use. Having said that, if you are keen to test it out and give us feedback that is great.
I'm looking into the issue you described and managed to reproduce for the case where ExclusivePublication is recorded with a starting position such that```termId != initialTermId``` which is not 0. I hope to have the issue resolve by EOD.

[2017-07-03 15:42] nitsanw commented on #370
I've narrowed this down to what seems like an ExclusivePublication bug.

[2017-07-03 20:33] goglusid opened #371 "C++ Client Crashes on ClientConductor::onInterServiceTimeout"
When the following stack of functions are executed, if the C++ client still has pointers on the log buffers then it crashes.

Following is how it can happen:

Thread#1: Call Publication::tryClaim
Thread#1: Use the BufferClaim...
Thread#2[ConductorThread]: Detects a timeout and execute the following stack.
Thread#1: Calls BufferClaim.commit();

Obviously, here I'm debugging so I reach the 5 seconds

[2017-07-03 20:41] goglusid commented on #371
If we were to delay the call to MemoryMappedFile::cleanUp() X ms after the actual ClientConductor::onInterServiceTimeout then we could avoid this crash.

This period (X ms) would represent the maximum amount of execution time for a single call to Publication::offer or the time elapsed between calling Publication::tryClaim and BufferClaim.commit

[2017-07-03 20:55] goglusid commented on #371
For reference, I'm talking about the following code when I talk about the management of Image's log buffers has lingering resources:

void ClientConductor::onUnavailableImage(
    std::int32_t streamId,
    std::int64_t correlationId)
{
    const long long now = m_epochClock();
    std::lock_guard<std::recursive_mutex> lock(m_adminLock);

    std::for_each(m_subscriptions.begin(), m_subscriptions.

[2017-07-03 21:15] tmontgomery commented on #371
cc @mjpt777

Lingering doesn't solve the underlying issue. The same thing exists in the Java version, I do believe. Lingering simply moves the time horizon. At its heart this is a race between the munmap due to the inter service timeout and the BufferClaim commit/abort operations.

[2017-07-03 21:58] mjpt777 commented on #371
The Java code does not call the unavailable handlers when a forced close happens. I've also just pushed a change that will linger the resources for 1ms on a normal close and 1s on an inter service timeout.

[2017-07-03 22:13] tmontgomery commented on #371
I will reflect in C++ in the next couple days if not sooner. Also, I want to make the C++ API have the agent invoker type option soon.

[2017-07-03 23:59] goglusid commented on #371
I agree that lingering only reduce the probability of having this issue.

If we were to store a smart ptr in the Publication instance returned by findPublication then the application would control the lifetime of the logbuffers without possible race. Anything I am missing here?

[2017-07-04 00:02] tmontgomery commented on #371
@goglusid Hmmm. Very very good point. That might work. Will give it a think. Yeah, that might be a nice way to handle it. Might also be usable for Java as well. Keep it around until `Publication.close`.

[2017-07-04 00:14] goglusid commented on #371
@tmontgomery I meant keep it around until Publication::~Publication

[2017-07-04 00:17] tmontgomery commented on #371
Agreed. Was thinking about Java as well. Which requires an explicit close of the Publication instead of it simply going out of scope.

[2017-07-04 08:38] nitsanw commented on #370
With @mjpt777 fix I can no longer reproduce this issue. Closing for now, but @jordanxlj please re-open if it doesn't fix your case.
Thanks again for reporting.

[2017-07-04 08:38] #370 closed

[2017-07-05 15:55] dasch-dk opened #372 "Ping/Pong sample same channel, different streams"
Hi,

What I am trying to do (don't know if this is even possible) is to do two-communication on the same channel but use different streams. Further, this is across two machines hence I am using embedded media driver on each.

I am trying to run:
**On Host1 - 10.20.30.19 - Pong**
java -cp '*' -Daeron.sample.embeddedMediaDriver=true -Daeron.sample.info=true -Daeron.sample.ping.channel="aeron:udp?end

[2017-07-05 16:30] tmontgomery commented on #372
Host2 is a subscriber to ping channel and a publisher to pong channel. Host1 is a subscriber to pong channel and a publisher to ping channel. Subscribers can only subscribe to a local IP.

That is why the second configuration works and the first does not.

If you look in Host2's error log when you run the first configuration, you might see a message about bind not working as it can not bind t 10.2

[2017-07-05 17:46] daschgit commented on #372
Thanks a lot for the prompt reply Todd. In didn't realise that was a restriction, but in that case it makes perfect sense.

We, unfortunately, have a restriction in our network preventing me from initiating connections from host2 to host1, hence my attempt at the above.

On another somewhat related note regarding only being able to subscribe locally. Say you have a topology where Host1 is e.g. a m

[2017-07-05 18:40] daschgit commented on #372
Hi Cesare,

Sorry, yes, I use UDP. I should have been more clear about the connection "initiation". We only have one-way host/ip mappings in our WAN, so we cannot point to host1 from host2, but I can work around this problem for now.

You are right, multicast would definitely be a better solution, especially with many subscribers. Great idea to use multiple groups to split by product.

Your help i

[2017-07-05 19:33] cesaref commented on #372
Well in that case multicast looks like the best option, since the publish address is not related to the host interfaces, so as long as you can agree a multicast address mapping between the hosts, their actual interfaces aren’t important (just make sure on multi-homed hosts you publish to only the required interface).

Mapping multiple products to multicast groups is a tricky business - you have a

[2017-07-05 22:34] tmontgomery commented on #371
@goglusid go ahead and see about this now. The Publication (and ExclusivePublication) have a shared_ptr to the LogBuffers. So, this should be cleaner now.

[2017-07-06 01:38] goglusid commented on #371
@tmontgomery Your awesomeness knows no bounds! ;p Problem solved. Thanks :D

[2017-07-06 01:40] #371 closed

[2017-07-06 07:08] dasch-dk commented on #372
Brilliant, thanks for your input Cesare. Will definitely take all of the above into account when doing my design. We'll probably have a maximum of 200 subscribers so should be fine with the IGMP memberships. We do have a pretty good understanding of the traffic shape by symbol and will probably end up having single publishers (machines) for the very high throughput ones, so it is good to know that

[2017-07-06 15:59] tmontgomery commented on #371
Thanks! No worries! We'll be making some other changes in this area shortly as well.

[2017-07-06 16:03] tmontgomery commented on #372
Another possibility would be Multi-Destination-Cast that we added not too long ago. What it allows is to have a Publication that can send to multiple Subscriptions like multicast, but with multiple unicasts instead. Take a look at the System Tests and the Wiki Channel Config Guide.

[2017-07-06 17:29] goglusid commented on #371
@tmontgomery Could you please elaborate a bit on the other changes in this area?

[2017-07-06 18:29] tmontgomery commented on #371
Experimenting with reference counting the mappings for #365 so multiple mappings are not needed. Also want to add the agent invoker style thread control to C++. And also change the mapping flags.

[2017-07-07 07:45] jordanxlj opened #373 "After recording for about 5 minutes, the Aeron Client check timeout exception"
After recording for about 5 minutes, the Aeron Client check timeout exception. The exception is below:

io.aeron.exceptions.ConductorServiceTimeoutException: Timeout between service calls over 5000000000ns
	at io.aeron.ClientConductor.onCheckTimeouts(ClientConductor.java:508)
	at io.aeron.ClientConductor.doWork(ClientConductor.java:431)
	at io.aeron.ClientConductor.doWork(ClientConductor.java:143)

[2017-07-07 08:09] jordanxlj commented on #373
Stat is below:
15:12:52 - Aeron Stat (CnC v7), client liveness 5,000,000,000 ns
===========================
  0:        1,881,375,360 - Bytes sent
  1:        8,368,437,024 - Bytes received
  2:                    0 - Failed offers to ReceiverProxy
  3:                    0 - Failed offers to SenderProxy
  4:                    0 - Failed offers to DriverConductorProxy
  5:                1,800 -

[2017-07-07 08:10] nitsanw commented on #373
Hi,
Given the active development stage of the archiver it would be good if you can state the git-hash of the codebase for which you report this bug.
Also please note how you start the archiver.
I'll look into this issue ASAP.
Thanks

[2017-07-07 08:36] jordanxlj commented on #373
@nitsanw , I use the master trunk version of 2017.6.8. I write a recording control, it read the recording stream and channel list, then call ArchiverConductor's startRecording.

[2017-07-07 08:40] jordanxlj commented on #373
@nitsanw , I have about 8 streams for recording, the publisher is over several machines.

[2017-07-07 08:42] nitsanw commented on #373
@jordanxlj ArchiverConductor is internal API so no direct interaction with it is intended. You should launch a ArchivingMediaDriver/LightweightArchivingMediaDriver and interact via the control stream.
At the moment the recording is intended for local publications only.
Having said that, you may have hit a genuine bug. Can you share your code please?

[2017-07-07 08:43] nitsanw commented on #373
Can you update your version of Aeron too? you are a month behind

[2017-07-07 09:42] jordanxlj commented on #373
I think about the updating, but I also will locate the bug at the mean time. I will collector more debug information of the media driver.

[2017-07-07 09:46] jordanxlj commented on #373
Is the reason that I had recorded too may data?

[2017-07-07 10:25] nitsanw commented on #373
I think you can save yourself some time by updating(to avoid any bugs we may have fixed), and switch to intended usage(to avoid bugs resulting from unplanned interaction)

[2017-07-07 12:47] dasch-dk commented on #372
Good tip Todd, that I hadn't seen before. Will definitely have a look at that.
Thanks both for your help and guidance - much appreciated.

[2017-07-07 12:47] #372 closed

[2017-07-09 14:13] jordanxlj commented on #373
192.168.0.11 debug log, I start recording on the host.

[192.168.0.11.txt](https://github.com/real-logic/aeron/files/1133796/192.168.0.11.txt)

[2017-07-09 14:14] jordanxlj commented on #373
192.168.0.10 debug log.
[192.168.0.10.txt](https://github.com/real-logic/aeron/files/1133797/192.168.0.10.txt)

[2017-07-09 14:15] jordanxlj commented on #373
192.168.0.12 debug log.
[192.168.0.12.txt](https://github.com/real-logic/aeron/files/1133798/192.168.0.12.txt)

[2017-07-09 14:21] jordanxlj commented on #373
I use 225.0.1.3 multicast address to send data information, use 224.110.110.111 to send topology information.

[2017-07-09 14:23] jordanxlj commented on #373
I send various message, length from 1.3mb to 200Bytes. The frequency of the different messages is different.

[2017-07-09 15:12] jordanxlj commented on #373
My code is shared below.

[aeron-master-07-06.zip](https://github.com/real-logic/aeron/files/1133840/aeron-master-07-06.zip)

[2017-07-09 15:14] jordanxlj commented on #373
@mjpt777 , Could you help see this problem? Thanks.

[2017-07-09 15:35] mjpt777 commented on #373
@jordanxlj Have you updated to the latest version of Aeron from master?

[2017-07-09 23:47] jordanxlj commented on #373
No,  I haven't update to the latest version of master, I plan to update after the new release version come out. I thought the problem had no relationship with the version. When offer failed, I would tried 5 times to retry. I found when the retring is serious, the problem would occured more possibly.

[2017-07-09 23:48] jordanxlj commented on #373
I will change to use no reliability way to see if the problem will occured.

[2017-07-10 07:23] jordanxlj commented on #373
In 192.168.0.11 debug log, at line 52088, check timeout, and close the archiver. I see the CMD_IN_KEEPALIVE_CLIENT is always recorded, how to find the responding Client of the Recorder?

[2017-07-10 09:04] mjpt777 commented on #373
This could happen due to a large GC pause whereby your client was not able to perform the duty cycle for over 5 seconds. It could also happen due to resource starvation in the client or the archive conductor thread blocked waiting on some action such as IO.

You could increase the `aeron.client.liveness.timeout` system property on the driver to see if it no longer happens.

Given that you are usin

[2017-07-10 09:04] #373 closed

[2017-07-13 00:54] pingvasanth opened #374 "ConductorServiceTimeoutException"
we have three servers creating publication to one subscription server
On the publisher we seeing below logs

2017-07-12 21:38:58,993  INFO aeron-client-conductor  Image Unavailable:io.aeron.Image@26d4fb20 session -1939625920
2017-07-12 21:38:58,993  INFO aeron-client-conductor  Image Unavailable :io.aeron.Image@39b5cc72 session 1901581560
2017-07-12 21:38:58,993  INFO aeron-client-conductor new  I

[2017-07-13 06:54] mjpt777 commented on #374
An interservice timeout indicates very long GC pauses or resource starvation on the machine which is not a situation to be in for low-latency applications.

Can you provide more information on what Aeron version, JDK, and OS you are using?

When this happens it is useful to run AeronStat to get a view of the counters on each machine?

[2017-07-13 07:27] mjpt777 commented on #374
After a ConductorServiceTimeoutException you will need to close the Aeron client and reconnect.

[2017-07-14 07:02] pingvasanth commented on #374
Thanks Martin, actually we doing functional testing and got into this issue .. seems our functional testing servers are slow.
We using aeron 1.3, JDK 8, and CentOS release 6.6
Thanks for the input, we implementing reconnect mechanism too.

[2017-07-14 07:52] #374 closed

[2017-07-14 14:37] goglusid opened #375 "Question: BufferClaim wrt cleanBuffer"
Can you please confirm that the following is indeed an issue?

Following is a scenario showing a possible issue:

0) We setup two process so that one is a IPC subscriber and the other one an IPC publisher.

1) IPC publisher: Gets a BufferClaim via the Publication::claim. At this point the producerPosition is advanced but the header's frame-length < 0. This prevents the subscribers from moving past

[2017-07-14 14:48] goglusid commented on #375
Thinking of of we could create a subscriber in the publisher process just to protect the claim buffer. Maybe we could have a built-in subscriber position within a publisher, when we call offer we would set it to the producer position and when we call the bufferclaim we would not advance it untill the BufferClaim::commit is called. This is just a thought.

[2017-07-14 19:23] tmontgomery commented on #375
I think if you simplify the scenario, it might make more sense.

1 - producer claims message (claims spot in stream)
2 - current subscriber goes away, meaning no subscribers
3 - new subscriber comes in. Join position is _after_ last claimed message. I.e. claim message has no consequence and no consumers waiting on it.

Right at that point, anything before the producer position at the time of the n

[2017-07-14 20:45] goglusid commented on #375
My understanding is that the memory needs to be zeroed prior to be available for use by the publication.  Otherwise a consumer might read a garbage value among other thing for the frame-length.

Committing a claimed message after the execution of the cleaning will set the frame length bytes to at least 32.

When the publication wrap around and reuse that memory, a consumer may read a message that

[2017-07-15 12:27] mjpt777 commented on #375
Thanks for reporting this. Initially @tmontgomery used the consumer position for this and I now believe his instincts were right. I later thought it made more sense to use the producer position to join at.

The main issue here is that in the case you describe it is possible to miss a blocked publisher that would be skipped over or worse they could come back as a zombie and corrupt the log.

[2017-07-15 17:59] tmontgomery commented on #375
@goglusid ah. yes. Did not see the issue initially.

Just something to point out. The cleaning position only moves with cleaning. This is the left edge of the cleaning window. The change that @mjpt777 put in keeps the edge from skipping over any non-committed messages.

[2017-07-16 16:21] agibsonccc commented on #220
@mjpt777 Anywhere we can track this? We are using aeron already in our ML stack and trying to figure out a viable path to this.

[2017-07-16 16:23] mjpt777 commented on #220
Once the C based media driver is complete we will be doing some work on this.  Access to environments with Solareflare NICs and high end switches would be appreciated for testing.

[2017-07-17 12:58] #375 closed

[2017-07-17 12:59] mjpt777 commented on #368
I'm going to close this for now. Any follow up can be opened as specific issues.

[2017-07-17 12:59] #368 closed

[2017-07-17 13:01] mjpt777 commented on #352
This tends to be file system specific. I'm closing for now and it can be reconsidered in the future if the specific requirement arises.

[2017-07-17 13:01] #352 closed

[2017-07-17 13:27] goglusid commented on #375
@tmontgomery  Indeed, joining at the consumerPosition prevents stepping over any uncommited messages.

@mjpt777 I shall say thank you very much indeed! ;)

[2017-07-19 19:12] goglusid opened #377 "Question: Publication Unblock"
Can you please confirm that the following is indeed an issue?

In IpcPublication::checkForBlockedPublisher,

because initially we set

timeOfLastConsumerPositionChange = 0;

and

consumerPosition = producerPosition();
lastConsumerPosition = consumerPosition;

When we transition from having no subcription to having one, it triggers a call to  LogBufferUnblocker.unblock even if the publication is no

[2017-07-19 19:48] goglusid commented on #377
Following is a scenario leading to this situation:
1) Create a new publication (consumerPosition=0, lastConsumerPosition=0, producerPosition=0)
2) Create a new subscription (joinPosition=0)
3) Publication::tryClaim(X Bytes) producerPosition=X

We now enter the following function with:

consumerPosition=lastConsumerPosition=0
and
producerPosition() > consumerPosition
and
timeNs > (timeOfLastConsume

[2017-07-19 21:03] goglusid commented on #377
I changed the following code and I no longer have the issue. However, I don't know if there's a better fix to that.

 public void onTimeEvent(final long timeNs, final long timeMs, final DriverConductor conductor)
    {
        **if (subscriberPositions.length == 0)
        {
            timeOfLastConsumerPositionChange = timeNs;
        }**

checkForBlockedPublisher(timeNs);

[2017-07-19 21:48] tmontgomery commented on #377
I noticed this possibility as well while adding unblock logic to the C media driver. But haven't had time to test it out.

Same possibility for network publications might also exist.

Also, replay publications are being worked on for replay. I didn't want to touch this until @mjpt777 and @nitsanw are happy with the changes that were involved with that.

The fix you mentioned is not quite correct,

[2017-07-20 02:53] goglusid commented on #377
My understanding is that this problem is still present for the first message published after a transition between having no subscribers and having at least one subscriber.

Ex:

1) A publication had subscriber but now have none.
a possible case is this: consumerPosition = lastConsumerPosition = producerPosition
timeOfLastConsumerPositionChange = T0

2) Wait unblockTimeoutNs

3) Add a new subscript

[2017-07-20 13:31] mjpt777 commented on #377
Interesting issue this. It is different for IPC and network publications. The network publication is easily fixed using the timestamp on construction. For IPC it is more complicated as the consumers can come and go.

The timestamp can be reset when transitioning from 0 to 1 IPC subscribers. This will however reset the clock on a timeout if a publication had really become blocked before the subscri

[2017-07-20 14:30] tmontgomery commented on #377
Upon reflection (perhaps without enough coffee...) I'm not entirely sure that this is limited to a subscriber change on IPC.

timeOfLastConsumerPositionChange is only updated upon last consumer position and current position being different (or an added subscriber now).

So, it would seem to be the case that this sequence could occur.

1. consumerPosition = lastConsumerPosition = producerPosition (

[2017-07-20 14:37] goglusid commented on #377
I concur this will solve this issue.

If I take into account the amount of money I paid to get Aeron in the first place (0$ ;p) I shouldn't complain but yet I will respectfully.

From what I understand, if an IPC subscriber stops consuming messages for more than the unblock period then the MediaDriver will start to unblock the IPC Publisher.

The same thing happens if a publisher takes for than th

[2017-07-20 14:51] mjpt777 commented on #377
If we reset the timeout on each check if the consumer position has not changed but the producer has not advanced then it seems like we would be OK. Does this now work? Also means we don't need to care about number of subscribers.

[2017-07-20 14:52] mjpt777 commented on #377
@goglusid The Subscriber will not crash in the case you mentioned because it still has its own independent mapping that cannot be removed.

[2017-07-20 15:21] goglusid commented on #377
@mjpt777 I will test/review this later today or tomorrow.

[2017-07-20 15:22] goglusid commented on #377
@mjpt777 From what I understand the image mapping is removed after the lingering period. @tmontgomery ?

[2017-07-20 15:24] tmontgomery commented on #377
On the client, the `Image`s are reclaimed after being lingered, yes.

[2017-07-20 15:25] goglusid commented on #377
@tmontgomery  The following line in bold destroys the mapping for a given image after the lingering timeout. So if during this period, we have an IPC subsription scanning the log buffers then it will crash. That's what happens when I debug for instance.

void ClientConductor::onCheckManagedResources(long long now)
{
    std::lock_guard<std::recursive_mutex> lock(m_adminLock);

    // erase-remove

[2017-07-20 15:25] mjpt777 commented on #377
Yes. It is marked closed and removed from the subscription so further usage is safe while in linger. Even after that the object when polled, if referenced directly, will return 0.

[2017-07-20 15:27] tmontgomery commented on #377
Yes, as I said, after the linger. The assumption is that the app will not block for an inordinate amount of time (i.e. longer than the linger timeout) in its poll.

[2017-07-20 15:27] goglusid commented on #377
@mjpt777  Indeed if you call poll after the close/removeImage  you are safe. However if you  call poll prior to these calls and don't return from poll during the lingering period then it will crash.

Obviously, you can put a huge timeout to cover most case but still relying on timeouts for this is risky.

[2017-07-20 15:30] tmontgomery commented on #377
@goglusid agreed. It is less than ideal. If you have a solution that does not rely on an atomic increment (and subsequent optimizations being avoided) on each subscription poll, I am very interested.

[2017-07-20 15:31] goglusid commented on #377
@tmontgomery  I know, ideally we need to figure out an approach that doesn't need to use a shared_ptr increment/decrement of atomic for each poll. I'm thinking of it.

[2017-07-20 15:36] tmontgomery commented on #377
Our best solution currently is the linger one. Sadly. It's a tradeoff of performance for more app responsibility (not blocking for linger timeout on the poll).

Another tradeoff is to single thread the client like is done in the Java version with the AgentInvoker. I do plan to port something close to that into the C++ API, though. That avoids the issue, but also means the app now takes on more res

[2017-07-20 15:38] goglusid commented on #377
@tmontgomery Ok what about this. Given a subscription is only accessed by one thread, we could call periodically a fct ex Subcription::safePoint to notify the ClientConductor that we aren't in the poll function anymore. Safepoint could increment an atomic...not frequently though. When removeImage is called we would take a copy of this safePoint counter and later the ClientConductor would compare i

[2017-07-20 15:48] tmontgomery commented on #377
@goglusid have to try it. I tried early on an RCU technique that was similar. Anything that stops migration within the Image loop cancels a host of optimization opportunities. Once it is outside that loop (like the loads for the array and the number of images), it is much better. However, that's the tricky bit. Needs to be within the loop to be useful.

[2017-07-21 17:48] goglusid commented on #377
@mjpt777 Right now I can't see why your latest changes wouldn't work. (double negation) ;p That being said lock free programming leads to an increase of the possible states your program can reach so who knows... In my test, it only unblocks if the timeout is reached. Thank you very much

[2017-07-21 18:03] goglusid commented on #377
@tmontgomery Using a C++ AgentInvoker for the ClientConductor would be very useful to make the lingering of resources safe.

I'll think about a way to notify the MediaDriver when it is safe to delete lingering resources. Stay tuned!

[2017-07-23 15:13] tkowalcz opened #378 "Closing Publication causes SEGV_MAPERR"
We are running Aeron in production since a few days. It's a small setup with 100 TPS. So far we had two crashes on client machines (in almost the same time):

[code]

The `Publication` was being closed during normal application operation (not shutdown) in respose to `Publication.isConnected()` returning false. So there must have been some timeouts or other communication problems?

Looking at our c

[2017-07-23 17:49] tmontgomery commented on #378
@tkowalcz A `Publication.close` lingers the Publication around a little while to avoid trampling from an offer. So, you have a short period of time to keep an offer/tryClaim thread from doing any harm. Although, it is a good practice anyway to avoid having another thread sending while trying to shutdown.

The stack looks like it is awaiting a response from the driver when it fails. And not in the

[2017-07-23 17:59] mjpt777 commented on #378
If a inter service timeout occurs in 1.3 then it quite aggressively closes down the client which can cause this issue if you have threads aggressively offering or using tryClaim.  The next release will have a linger on close to help avoid this. A long GC pause can cause the issue you are seeing with 1.3.

[2017-07-23 18:03] tkowalcz commented on #378
@mjpt777 You are probably referring to #368? When can we expect new release?

@tmontgomery The `Publication` is held in a map keyed by destination address (right now there is only one configured). There are many threads trying to retrieve it from the map in order to `offer`. Before that call every thread will check if the publication is connected. If not then it will close it and do some reconnect

[2017-07-23 18:12] mjpt777 commented on #378
@tkowalcz yes I am referring to the some of the changes to resolve issue #368. Maybe this week if all goes well.

[2017-07-23 18:23] tkowalcz commented on #378
@mjpt777 Thank you. And indeed there was ~6s full gc.

[2017-07-23 18:23] #378 closed

[2017-07-25 22:21] tmontgomery commented on #377
@goglusid FYI. See 33c1033f6 for AgentInvoker support in C++.

[2017-07-27 03:28] goglusid commented on #377
@tmontgomery That was fast Thanks

[2017-07-27 12:47] lukeocamden opened #380 "C++ client: Subscription::poll does not check return value of Image::poll for IMAGE_CLOSED"
Hello, it looks like a closed image will currently cause Subscription::poll to decrement fragmentsRead (since IMAGE_CLOSED is -1).

Should the return value be checked first? Or perhaps Image::poll should return 0 in case it is closed? It's hard to know why a caller would want to distinguish these cases.

[2017-07-27 13:02] lukeocamden opened #381 "C++ client: Subscription::m_roundRobinIndex is always zero"
I guess the purpose of this member is to enforce fair queuing, but it currently looks as if images that become available first are unfairly prioritized - does that make sense or have I missed something? Thanks!

[2017-07-27 13:13] mjpt777 commented on #381
Thanks for this. It looks like the increment got missed in the port from Java.

[2017-07-27 13:13] #381 closed

[2017-07-27 13:17] mjpt777 commented on #380
It should return 0 to be consistent with the Java implementation.

[2017-07-27 13:40] mjpt777 opened #382 "C++ client is missing Subscription::controlledPoll"
Images have this features but it is not available to the Subscription.

[2017-07-27 15:58] goglusid commented on #377
@tmontgomery In the mean time I implemented the following to make sure deleting resources is safe. **Note that it only works for single threaded application**. I added a produderId and consummerId both atomic values. When the media driver add a new resource to linger it increase the producer id, When the application calls a new fonction on the Aeron instance, it sets the consummer id = producer id

[2017-07-27 16:47] #380 closed

[2017-07-27 17:10] goglusid commented on #377
@tmontgomery BTW using AgentInvoker as a way to make sure deleting resource is safe also implies having all the subscribers run a single thread.

[2017-07-27 17:13] tmontgomery commented on #382
Added.

[2017-07-27 17:13] #382 closed

[2017-07-27 18:53] tmontgomery commented on #377
@goglusid correct.

[2017-07-28 07:59] lukeocamden opened #383 "C++ client: heap buffer overflow in Subscription::poll if conductor thread calls Subscription::removeImage concurrently"
Hello, consider the following interleaving:

Subscription::poll
[code]

Subscription::removeImage
[code]

Subscription::poll
[code]

Does that make sense?

This would be simpler to reason about, and perhaps faster if there were only one write (say a pointer to a vector) required for the conductor to communicate the updated set of images. So conductor would do:
[code]

and subscriber does
[code]

O

[2017-07-31 01:44] tmontgomery commented on #383
The case of the removeImage while a poll takes an interrupt is possible.

Testing with vector did not show nearly the needed performance on the iteration side over a raw array. So, a raw array does much better in this case.

A couple potential fixes here, though.
1 - encapsulate the array into a dynamic array type. This was done originally and dropped due to some optimizations being missed. It is

[2017-07-31 02:32] goglusid commented on #383
@tmontgomery What about the following? You still get the performance of using an array but you need only one atomic load so no interleaving.

struct ImageArray
{
   size_t imageCount;
   Image* images[1];
};

You also allocate size and array as a contiguous memory block to avoid having an array of 1 image when count is zero. It is the same idea anyway.

ImageArray* images = std::atomic_load(&m_ima

[2017-07-31 09:40] mjpt777 commented on #383
@tmontgomery  Re-reading the array length could suffer from the ABA problem. The better solution is to have a change number applied to two counters for the before and after change complete. We use this effectively in the `PublicationImage` for NAK signalling which is your third suggestion.

@goglusid How do you ensure the access lifetimes to the pointed struct is appropriate?

[2017-07-31 14:36] goglusid commented on #383
@mjpt777 Well in the current design, you use a timeout to deal with the lifetime of these image arrays and logbuffers. So my proposed change still works with lingering...even if it is risky to use timeouts. Fair enough though a high enough timeout would be practically safer.

That being said, in my super dooper version of Aeron. ;) I implemented the following:

In the ClientConductor:

- For every

[2017-07-31 17:31] tmontgomery commented on #383
@mjpt777 yes, re-reading the length suffers from ABA. I realized it late last night while thinking on it. Encapsulating the length and array into a dynamic array (or @goglusid struct) is also appealing if it can allow the optimizations to work themselves out. The lifetime is easy since we already linger the array itself anyway. But that can be cleaned up as well.

@goglusid one of the items we wan

[2017-08-02 13:14] goglusid commented on #383
@tmontgomery In order to avoid allocating the ImageList and the actual Image array, how about the following?

class ImageList
{
public:

  static ImageList* create(size_t length)
  {
    ImageList* imageList = new (new uint8_t[sizeof(ImageList) + (sizeof(Image)*length)]) ImageList(length);

    for (size_t i = 0;i < length;i++)
    {
      new (&(imageList->images()[i])) Image();
    }

    return

[2017-08-02 16:06] tmontgomery commented on #383
@goglusid we could do this. Actually, I have a different option in mind that is similar. We intend to soon make more changes, though. One is the refcnt of logbuffers so that the footprint of the mappings can be lower. And another is a change number technique similar to what you proposed for lingering resources. So, this is a temporary change until after next release and we make more changes.

[2017-08-04 08:02] GenuineJyn opened #384 "No driver heartbeat detected"
when media driver run a period time,  run a pub or sub client as follows may occur:

No driver heartbeat detected. : aeron::util::MemoryMappedFile::ptr_t aeron::Aeron::mapCncFile(aeron::Context&) : /home/huawei/workspace/Aeron-master/aeron-client/src/main/cpp/Aeron.cpp : 131

I saw the media driver and client source code, the driver write a heartbeat every second,  there perhaps is some problems,

[2017-08-04 08:25] nitsanw commented on #384
Hi @GenuineJyn ,
Can you please give the following details:
- Aeron version(or git hash if you are building from source)
- I see you are running the C client, are you also running the C media driver
It would also be good if you can include the source code for a minimal reproduction of the issue, or a snippet of the relevant client code.
Thanks for reporting!

[2017-08-04 08:33] GenuineJyn commented on #384
CNC_VERSION = 7;
I run a java media driver and a C++ client.
int Aeron.cpp:
116         while (0 == ringBuffer.consumerHeartbeatTime())
117         {
118             if (currentTimeMillis() > (startMs + context.m_mediaDriverTimeout))
119             {
120                 throw DriverTimeoutException(std::string("No driver heartbeat detected."), SOURCEINFO);
121             }
122
123             st

[2017-08-04 12:12] tom-smalls opened #385 "Race condition between MediaDriver start up and CommonContext.isDriverActive"
We are seeing one of our services fail to start up in our CI environment several times a day due to what we believe is a race condition between the MediaDriver starting, and writing it's contents to CncFileDescriptor (the service that fails is the first one we start after the MediaDriver).

CommonContext.isDriverActive is throwing an IllegalStateException because the CnC version it expects does no

[2017-08-04 16:53] mjpt777 commented on #385
I've pushed a fix for this. There was a race.

[2017-08-04 17:37] tmontgomery commented on #385
Two separate issues here. One is the volatile read. That clearly is needed.

The `isDriverActive` check itself purposefully did a single check so it did not block and could be called in a loop (although it needed a volatile read just like the other). Also, driver startup would immediately return on this case as well. Now it is blocking for a period based solely on `driverTimeoutMs`. I'm not sure t

[2017-08-04 17:38] mjpt777 commented on #385
Maybe it should return false rather than throw the exception?

[2017-08-04 17:59] tmontgomery commented on #385
Well, `false` means no driver active. Which could be a disaster as it kinda means go ahead and create one.

My initial thoughts are:
- add a timeout param to spin/wait for. This should be low.
- keep `IllegalStateException` for when version > 0, but not == current.
- if still 0 after the timeout, then return 'true' and optionally logProgress "version 0 after timeout. Possibly retry?"
- if (timeout

[2017-08-04 18:00] tmontgomery commented on #385
You almost want a trinary return. `ALIVE`, `DEAD`, and `Schrödinger`

[2017-08-04 18:07] mjpt777 commented on #385
I'm thinking to be safe you spin like currently and then timeout. This is likely to be quick unless a real issue exists then you want to wait for the timeout anyway.

[2017-08-04 18:08] tmontgomery commented on #385
I think a spin is fine. Just not sure how long. DriverTimeoutMs is a long one.... maybe @lbradstreet has a view on this.

[2017-08-04 18:28] lbradstreet commented on #385
Spin and timeout is fine for us too. We initially delay our health checks, and our health checks include a retry parameter, so the timeout you choose probably won't affect us at all.

[2017-08-07 09:59] tom-smalls commented on #385
Why iterate at all? The semantics of the call changes to "wait for driver to be active" rather than "is driver active".

Assuming 0 was never used as CnC version, just return false if this value is returned as it means the driver is not active yet as the version number hasn't been written.

[2017-08-07 10:01] mjpt777 commented on #385
@tom-smalls The issue here is that then another driver could assume no driver is active and delete the CnC file and start itself.

[2017-08-07 10:49] tom-smalls commented on #385
Ahh, yes. I forgot the MediaDriver uses the same call during construction

[2017-08-07 20:02] neomantra commented on #220
I was exploring using Solarflare TCPDirect with the C media driver.  It is very straight-forward to port  the existing UDP code to it.  I've really enjoyed using this API and was gonna stab it once you guys release.

[2017-08-07 22:39] tmontgomery commented on #220
@neomantra if you have access to Solarflare environment, would be great to talk to you. Want to support ef_vi directly with the C media driver. Feel free to contact @mjpt777 and I directly.

[2017-08-14 22:18] bedding opened #386 "Programmatically increase logbuffer size?"
Is there any way in Aeron to programmatically increase the size of a logbuffer? I'd like to offer a certain amount of data to a stream as a whole in my project, so when the receiver starts to read them it is guaranteed that all data are delivered and ready - nothing is not sent or on the fly. However if I don't know how much data I'm going to sent, they can be much more than the size of the logbuf

[2017-08-14 22:23] tmontgomery commented on #386
The term length can be set on a per publication basis by passing it in the URI. At the moment, it is only documented in the Javadoc, though. Take a look at https://github.com/real-logic/aeron/blob/master/aeron-client/src/main/java/io/aeron/ChannelUriStringBuilder.java

[2017-08-17 18:25] bcaimano opened #387 "Automatically round CnC file size to increment"
As is, the CnC file size seems to be determined by the individual sizes of four buffers and its header. Unfortunately, my version of hugetblfs only seems to allow passing `truncate` sizes that are multiples of the hugepage size (in my case, 2MB). This causes Aeron to be unable to construct its cnc file on a hugetblfs mount. I would expect that this condition is not unique to hugetblfs but might be

[2017-08-18 20:53] bedding commented on #386
Dug into the API for a bit. Looks like I need to call addPublication/addSubscription to pass in the new size. As far as I can tell from the name of these two functions, they are going to create a new stream. So what's happening under the hood if I call addPublication on an existing stream and give it a new term buffer size? Does it close the old stream and create a new one? If not, how does it res

[2017-08-19 17:08] tmontgomery commented on #386
I would suggest you try it yourself for the exact case you want.

First, though, you can't call addPublication on an existing stream. Each time addPublication is called, it creates a Publication object. So, 2 calls creates 2 Publication objects. So, the second call has no impact on the first call. i.e. the existing Publication will be fine in all cases. Under the hood, the same logbuffer for both

[2017-08-21 22:50] bedding commented on #386
Thank you for the reply! I will use a different approach to solve the problem.

[2017-08-21 22:52] #386 closed

[2017-08-21 23:17] bedding opened #388 "C++ exception with description "Negative size" thrown"
I started the media driver with IPC term buffer size set to 1GB,

```-Daeron.ipc.term.buffer.length=1073741824)```

I am able to add publication, but when I call ```findPublication``` my application always threw the exception with description "Negative size".

Everything worked fine if IPC term buffer size is something less than 1GB. What could cause this problem?

[2017-08-21 23:22] tmontgomery commented on #388
This is Java media driver, correct?

FYI, C++ `addPublication` is asynchronous. Any errors will come through `findPublication`.

[2017-08-21 23:28] tmontgomery commented on #388
BTW, what is the error in the `ErrorLog`?

[2017-08-21 23:34] bedding commented on #388
Yes it is Java media driver. Following is from the error log,

[code]

[2017-08-21 23:37] tmontgomery commented on #388
Ah. That helps. Thanks. Let me look at it.

[2017-08-22 00:30] tmontgomery commented on #388
I've made 2 changes. One to the Java Media Driver and the other to the C++ API. These seem to work for me. But not doing any real tests besides `BasicSubscriber` and `BasicPublisher`.

[2017-08-22 12:50] #385 closed

[2017-08-22 12:52] mjpt777 commented on #384
I'm going to close this for now as it cannot be recreated. If a test that reproduces it can be created then we will investigate.

[2017-08-22 12:52] #384 closed

[2017-08-24 10:55] GayanSandaruwan opened #389 "Gradle Build Failed with ERROR"
**Following is the Error**
`To honour the JVM settings for this build a new JVM will be forked. Please consider using the daemon: https://docs.gradle.org/2.10/userguide/gradle_daemon.html.

FAILURE: Build failed with an exception.

    Where:
    Build file '/home/gayan/Desktop/aeron/build.gradle' line: 18

    What went wrong:
    Could not compile build file '/home/gayan/Desktop/aeron/build.grad

[2017-08-24 10:57] GayanSandaruwan commented on #389
When remove the `apply false` from the line 18 It builds.

[2017-08-24 11:00] nitsanw commented on #389
Hi,
I think you are running your own version of gradle rather than the wrapper script.
Can you try again, running the provided `gradlew` command?

[2017-08-24 12:07] GayanSandaruwan commented on #389
Thanks.. It helped in that..
But now it is giving an error saying
`
* What went wrong:
Could not resolve all files for configuration ':aeron-client:compileClasspath'.

  Searched in the following locations:
      https://repo1.maven.org/maven2/org/agrona/agrona/0.9.7-SNAPSHOT/maven-metadata.xml
      https://repo1.maven.org/maven2/org/agrona/agrona/0.9.7-SNAPSHOT/agrona-0.9.7-SNAPSHOT.pom
      ht

[2017-08-24 16:18] mjpt777 commented on #389
That error suggests you have an older build of Aeron which requires a local build of Agrona which is not in your repository. Please pull the latest version of Aeron.

[2017-08-24 16:18] #389 closed

[2017-08-25 15:52] #388 closed

[2017-08-25 18:47] mjpt777 commented on #387
This also needs to happen for log buffers. A log is 3 times term length plus a trailer which is a 4k page in size.

[2017-08-28 05:25] GayanSandaruwan commented on #389
@mjpt777
Yeah it was the issue.. Thanks a lot..
But I have one consideration. Th previous one was cloned just before two weeks ago.. During that time why there is so much difference to make the build fail .

[2017-08-28 07:38] mjpt777 commented on #389
It is quite simple. The previous week the build of Aeron required a local build of Agrona. The current repo is depending on a release of Agrona which can be fetched from Maven Central thus not requiring the additional step.

[2017-08-30 13:16] krisskross opened #391 "Aeron appender compatible with jul/slf4j/log4j/logback"
Hi

Does anyone know of any project that have implemented an Aeron appender compatible with either of  jul/slf4j/log4j/logback?

Cheers,
-Kristoffer

[2017-08-30 15:50] krisskross commented on #211
@tmontgomery Are there examples of this on github?

[2017-08-30 16:08] tmontgomery commented on #211
Somewhat, yes. Checkout the Aeron Archiver. https://github.com/real-logic/aeron/tree/master/aeron-archive

[2017-08-30 16:43] tmontgomery commented on #391
I don't know of any public ones.  Aeron is used in some internal logging frameworks that I know of that are not public.

Best place to ask would be on [gitter](https://gitter.im/real-logic/Aeron)

[2017-08-30 22:01] #391 closed

[2017-08-31 12:28] artyomkorzun opened #392 "Aeron Client crashes in case of PC clock update"
**Application:** java app with Aeron 1.3.0 (client + embedded driver).
**OS:** CentOS 6+.

**Steps:**
1.  PC clock is 2 minutes behind.
2.  Update PC clock.
3.  Aeron Client crashes.

**Exception:** io.aeron.exceptions.DriverTimeoutException: Driver has been inactive for over 10000ms
         at io.aeron.ClientConductor.checkDriverHeartbeat(ClientConductor.java:338)
         at io.aeron.ClientCond

[2017-09-01 08:01] mjpt777 commented on #392
Aeron is designed to be a high performance messaging system with round trips are typically measured in microseconds. We need to detect dead clients so they can be unblocked, thus allowing others to make progress, and we do this with timeouts. One such timeout is the inter-service-timeout which has been triggered here. The exception you see is Aeron doing what it is expected to do. It has not crash

[2017-09-01 08:59] #392 closed

[2017-09-01 20:17] mjpt777 opened #393 "Publication can be considered connected via a spy"
Provide the option for a publication to be considered connected and can progress if a spy is connected. This will enable archive to be used as a destination for logging.

This can be a configurable option.

[2017-09-01 20:24] mjpt777 opened #394 "Gathering offer for Publications"
Add an `offer` method to `Publication` and `ExclusivePublication` that takes an array of buffers, offsets, and lengths for doing gathering sends.

This allows for protocol encapsulation whereby a header(s) can be added to a payload without needing to copy the data to an intermediate buffer. This is particularly important for payloads larger than MTU as `tryClaim` cannot be used in this case.

[2017-09-04 08:08] cx421774557 opened #395 "Excuse me， about C/S Module！"
If the client is inside the LAN and publishes the message to the service side of the public network, how does the server publish the message to the client? Thanks for your help！

[2017-09-04 15:09] tmontgomery commented on #395
I'm not following what you are referring to. Can you be more specific?

[2017-09-05 02:55] cx421774557 commented on #395
I'm sorry, my English is poor, I mean, how to push the message from the public network to the Intranet (the machine inside the LAN)?

[2017-09-05 08:48] thhart opened #396 "Shutdown procedure / Timeout"
I am testing a simple message client as provided in the examples running an embedded MediaDriver. The only problem I have is the shutdown procedure. Once the application receives a SIGKILL it takes 60 seconds for final termination after quietClose. I did not find a timeout property for this in the documentation. Is there a better procedure to shutdown everything?

[code]

[2017-09-05 08:58] thhart commented on #396
I found the problem, it was related to a ThreadPool in which I did run the example.

[2017-09-05 08:58] #396 closed

[2017-09-06 03:35] GenuineJyn opened #397 "windows vs2015 gettimeofday not support"

[2017-09-06 03:46] mjpt777 commented on #397
Can you provide a better explanation and test case if possible?

[2017-09-06 05:45] GenuineJyn commented on #397
compile cannot pass

[2017-09-06 16:51] bcaimano commented on #387
I did a little investigation of my own (sorry for the silence).

The log/term length seems a tricky thing to change. In several places, either log length is determined from term length or term length is determined from log length. It seems like it might make sense to start storing the term length in the log. The math becomes then much easier: you can determine the the log length from the term leng

[2017-09-06 17:21] tmontgomery commented on #397
I'm not sure what you are referring to here. Aeron does not use `gettimeofday`. Google Mock/Test and/or Benchmark might, but they should be smart enough to know what platform they are on and act accordingly.

[2017-09-06 17:26] tmontgomery commented on #387
@bcaimano yes, you are correct. The layout will need to change to account for padding. One option is to simply pad out and mark the real length as the last 8 bytes in the file. That would preserve all the previous logic. But it is ugly.

We want to do several improvements in this area. Such as refcnt logbuffers, etc. So, sorry for the silence, we've just been busy.

[2017-09-07 08:02] GenuineJyn commented on #397
So sorry， I found One of my colleagues has modified the code and used gettimeofday().

[2017-09-07 08:02] #397 closed

[2017-09-08 08:28] thhart opened #398 "Audience scope"
Hi, first of all thanks for this big framework and work on Aeron, however I wish more focus for Java application developers. IMHO the Wiki is mainly focused on network specialists and core developing of aeron. I give you a simple example: FragmentHandler - nowhere is the ImageFragmentAssembler mentioned, but as I see it is an important adapter to handle fragmented data delivered.
Further more the

[2017-09-08 09:30] thhart opened #399 "High CPU utilization"
I can see a constant CPU utilization ~10-20% on a i7 4 core no matter what IdleStrategy I use. I tested with BackoffIdleStrategy and a custom Strategy for context and subscriberLoop like this:

`new BackoffIdleStrategy(1024, 512, TimeUnit.MILLISECONDS.toNanos(10), TimeUnit.MILLISECONDS.toNanos(250))`

If I debug the system it turns out the AgentRunner constantly triggers BackoffIdleStrategy with a

[2017-09-09 11:47] thhart opened #400 "Multiple interface support"
I am looking to be able to broadcast (multicasted) to all network interfaces in a host. Is this possible or should I subscribe manually to each interface?

[2017-09-10 07:05] mjpt777 commented on #400
The question seems conflated. Maybe I'm misunderstanding. If you are sending then you can add routes for each of the interfaces you want to send to. This is a Linux, or other OS thing, and not a specific Aeron question. If you are talking about receiving then you can do a default subscribe, or you can subscribe on a specific interface with Aeron, i.e. add the interface param to the channel configu

[2017-09-10 11:26] mjpt777 commented on #399
The focus for Aeron so far has been low-latency and high-throughput. We are beginning to look at ways of better supporting lower resource systems but this is not a priority. I'll have a look later this week to see what I can find if I can replicate your test.

[2017-09-14 09:29] cx421774557 commented on #395
Thank you vary much, i will try it. Have a nice life.

[2017-09-14 09:29] #395 closed

[2017-09-16 14:33] mjpt777 commented on #308
This can now be done by setting a `JVM_OPTS` environment variable. This gets added at the end of the jvm options in all the sample scripts for both bash and windows script files.

[code]

[2017-09-16 14:33] #308 closed

[2017-09-16 17:45] mjpt777 commented on #400
Closing due to no follow up.

[2017-09-16 17:45] #400 closed

[2017-09-16 17:46] mjpt777 commented on #394
Complete for Java and now need to add c++.

[2017-09-16 18:20] nicklauslittle commented on #394
Can you make it an iterator for C++ rather than an array? I have a commit if you are interested in taking a look.

[2017-09-17 19:02] tmontgomery commented on #394
I'll be looking at this this week. Porting of all the things!

[2017-09-17 19:03] tmontgomery commented on #394
In terms of an iterator, maybe. Not a huge fan of anything but an array for this. But feel free to toss a PR and I will look at it.

[2017-09-17 21:48] nicklauslittle commented on #394
Submitted PR #401

[2017-09-19 14:04] mjpt777 commented on #399
There are many threads and idle strategies that can be applied in Aeron. Can you provide more details on which thread this is applied to? I'm struggling to recreate what you are seeing.

Also can you explain how you came up with figures you passed to the `BackoffIdleStrategy`? The number for yields seems very high.

[2017-09-19 14:39] lukeocamden opened #402 "aeronmd 1.4.1: heap-use-after-free when aeron_driver_conductor_on_add_network_subscription runs concurrently with driver receiver"
Abridged ASAN output:

[code]

[2017-09-19 14:45] lukeocamden commented on #402
Hello, sorry I'm having trouble pinning down exactly when/why this happens. Any ideas would be much appreciated!
In client code (not yet pared down to a simple reproducer), I am creating a publication and sending a message in quick succession. When I sleep between doing these two things I am unable to reproduce the bug.

[2017-09-19 14:49] tmontgomery commented on #402
Will take a look. Thanks!

[2017-09-19 14:54] tmontgomery commented on #402
If you narrow it down, let us know. Will see what I can see via code inspection.

[2017-09-19 15:02] tmontgomery commented on #402
Try this latest change and let me know if this is better.

[2017-09-19 15:34] mjpt777 commented on #398
We would welcome any help on this.

[2017-09-19 15:34] #398 closed

[2017-09-19 15:51] lukeocamden commented on #402
Looks much better, haven't repro'd with that change applied. Thanks for the quick fix!

[2017-09-19 16:54] tmontgomery commented on #402
No worries. Will close for now. Thanks!

[2017-09-19 16:54] #402 closed

[2017-09-19 19:21] kaoudis commented on #280
Has there been any progress here? Not seeing anything in the repo or any open PRs to this effect.

Particularly for fedora/RHEL-world, looks like a person needs to be a "package maintainer" and follow some steps to get recognized as such so that I imagine one can be contacted in case of issues with one's package (I know packaging things for the Arch AUR isn't too bad, really, sort of an anyone-can

[2017-09-20 12:40] mjpt777 commented on #280
None of our paying customers have requested this so it has not gotten any attention.  Some help with doing it would be welcome if it is generally useful.

[2017-09-20 19:11] kaoudis commented on #280
OK. My use case for the lib involves including it with Maven in another Java project, so it's not an immediate need or anything for me either to have it available straight from my distro's package manager. I am looking for ways to contribute back in free time though, and kind of unsure what might be both helpful and not in the immediate path of development since I've only got a few hours a week.

[2017-09-23 15:32] mjpt777 opened #404 "Have ExclusivePublication extend Publication"
This will allow for substitution in APIs.  Don't use an interface to avoid the invoke interface calls in Java.

[2017-09-25 17:03] goglusid commented on #377
@mjpt777

Could you please confirm that the following use case isn't covered:

If a process calling a publication::offer crashes just before setting the new term's index then the media driver doesn't unblock this publication.

 private long newPosition(final int index, final int currentTail, final long position, final long result)
    {
       ....
        else if (termOffset == TermAppender.TRIPP

[2017-09-25 17:28] mjpt777 commented on #377
@goglusid I think you are correct. I'll create a test case and follow this up.

[2017-09-25 17:30] goglusid commented on #377
In order to test that I simply commented the line
activePartitionIndexOrdered(logMetaDataBuffer, nextIndex);

That way it emulates a crash and the following calls to offer all fails given that the term rotation is lost.

[2017-09-26 11:10] mjpt777 commented on #377
I've taken a different approach and allowed any publishing thread to perform the rotation. This will also be better if the thread doing the rotation gets interrupted never mind dying. I've found one other issue which I'll address separately.

[2017-09-26 12:06] goglusid commented on #377
I am curious to know more about this other issue.

[2017-09-26 12:15] guidomedina commented on #399
I had the same issue when I started using `akka-remote` based on Aeron, here is how I resolved it, using the following function which uses a parameter called `IDLE_CPU_LEVEL` which is between 1 and 10 where one is sleeping, from 2 to 9 is using a back off and 10 a busy spin:

https://github.com/akka/akka/blob/master/akka-remote/src/main/scala/akka/remote/artery/TaskRunner.scala#L93

Here is my sha

[2017-09-26 12:17] mjpt777 commented on #377
Imagine the case of a large number of publishers all failing to complete the rotation. The driver needs to detect this and then unblock after the flow control window is exhausted. Quite a complicated one but ultimately possible.

[2017-09-26 12:19] guidomedina commented on #399
The reason for `term_buffer_size` is because such environments have little RAM, so for example, I have 5 JVMs using the same shared driver which the default which is 16m will consume too much shared memory, hence the tune-ability of the buffer.

[2017-09-26 15:40] tmontgomery commented on #399
@guidomedina You might look at [`ControllableIdleStrategy`](https://github.com/real-logic/agrona/blob/master/agrona/src/main/java/org/agrona/concurrent/ControllableIdleStrategy.java) and it's usage in Aeron. It's an idle strategy that can be controlled via a status indicator. So, it is possible to have something else signal to the strategy what mode it should be operating in.

[2017-09-27 02:47] cx421774557 opened #405 "hi, i'm complie have some error,"
this file <aeron-client/src/main/cpp/util/MemoryMappedFile.cpp>  line 176， if  PAGE_SIZE has defined, i will have a error , so i think i should set a Macro switch.

[2017-09-27 07:53] cx421774557 commented on #405
but now i have a new error, if complie for GCC arm, i think the aeron inline asm is x86 instruction set，

[2017-09-27 13:25] goglusid commented on #377
@mjpt777

There's another problem:

Let's assume a lot of threads simultaneously calling Pulication::offer checking and passing the publication limit condition and all entering the TermAppender::appendUnfragmentedMessage. Given that each thread will increment the rawTail and the fact that the rawTail only has 32 bits for the offset, it is possible that the offset grow larger than 2^32 and start to

[2017-09-27 14:56] mjpt777 commented on #377
@goglusid Yes these are issues we are aware off and practically they are not an issue. On overflowing the first 32 bits we would need a number of threads all to be offering the maximum message length all to have passed the publication limit at the same time and be able to wrap. Have you done the calculation on how many threads it is for the different term lengths and message lengths?

The reaching

[2017-09-27 15:03] goglusid commented on #377
@mjpt777

For a termlength of 1GB that is only 4 threads offering 1GB message. It is practically possible. No?

[2017-09-27 15:06] mjpt777 commented on #377
No :-) For the network publication max message length is 1/8 of term length. So that is 4 * 8 = 36.

[2017-09-27 15:07] goglusid commented on #377
I meant IPC Publication. Still 36 threads isn't that much.

[2017-09-27 15:08] mjpt777 commented on #377
It is the same for IPC.

[2017-09-27 15:12] mjpt777 commented on #377
I also think 1/8 GB for a single message is a bad design. Does not stream well. We should pragmatically put a cap on that. @tmontgomery What do you think of a 16MB message cap?

[2017-09-27 15:13] goglusid commented on #377
So if a publication is 32 bytes from term tripping and 36 threads tries to offer the max msg at the same time then we end up in a wrong state? You don't think this is practically an issue?

[2017-09-27 15:14] tmontgomery commented on #377
I think 16MB is more than generous.

[2017-09-27 15:15] mjpt777 commented on #377
At a 16MB cap it is very pragmatic.

[2017-09-27 15:16] tmontgomery commented on #377
Everything in computing has practical limits. Is 36 threads reasonable? Maybe. But is sending 128MB messages reasonable.... no. It's not. If you NEED 128MB messages, you are making the wrong tradeoffs.

[2017-09-27 15:18] tmontgomery commented on #377
At some point, any messaging system has to push back the responsibility of chunking to the application. 16MB is a practical limit that most applications will fit well within. And besides, once messages become too big, the application MUST assess the tradeoffs and decide for itself.

[2017-09-27 15:18] mjpt777 commented on #377
Any message that does not fit in less than 1/2 cache size is a questionable design. Bigger than that should be in chunks and be streamed.

[2017-09-27 15:20] tmontgomery commented on #377
< 16MB fits in with the wait-free tradeoff. You want wait-free, you use smaller messages. You want convenience of obscenely large messages, then I think giving up wait-free and doing chunking at the application level is a good tradeoff.

[2017-09-27 15:24] goglusid commented on #377
@tmontgomery
:) I like your "obscenely large messages" lol

With a max of 16 MB messages then it is more practically impossible to encounter the issue that I saw. Maybe it could be documented so if someone change this limit it may cause overflow in the rawTail.

[2017-09-27 15:26] tmontgomery commented on #377
For the C++ side, we can definitely do a compile time check for the value and break the build if the limit is changed.

[2017-09-27 15:29] tmontgomery commented on #377
We could have the driver enforce a limit on the number of `addPublication` to a given logbuffer as well.

[2017-09-27 15:30] goglusid commented on #377
Note that if we were to store offset as a multiple of 32 Bytes instead of #Bytes then we would avoid the overflow even more...even with bigger messages ;p Indeed the offset is a multiple of 32 bytes so there are 5 bits available.

[2017-09-27 15:32] mjpt777 commented on #377
@goglusid That is a nice observation on storing the multiple of 32. Maybe we should combine that with the message limit which would encourage better design anyway.

[2017-09-27 15:43] goglusid commented on #377
Also note that if you are obsene enough to send huge messages then you can always use an ExclusivePublication. That is still without having issue.

[2017-09-28 17:49] bedding opened #406 "What's the recommended way to determine how many data I can offer to a Publication?"
I have been using publication.poistionLimit() - publication.poistion() to determine how much space left before messages get backpressured. However, publication.poistionLimit() sometimes returns 0 even I never offer any data to the stream. I'm wondering if I have been abusing this helper function and if there is a better way to determine message backpressure before offering any data.

[2017-09-28 18:09] tmontgomery commented on #406
Initially pub-lmt is 0 until a Subscription is connected.

Using pub-lmt can give you a sense of the amount of space.... but be aware that it is not guaranteed to always go forward (i.e. not go back). i.e. it is quite possible that the `positionLimit` might go backward from the time the method is called and an `offer`/`tryClaim` is performed. Unlikely, but flow control strategies (and congestion c

[2017-09-28 18:37] bedding commented on #406
Thank you for the quick reply!

The reason is that I need to send certain amount of fragments before the subscriber polls. I want to guarantee that these fragments are received as a whole by the subscriber, in another word, the subscriber get everything at a time or nothing. I don't want it to poll partial data and wait for the publisher to send more. The Publication is used only from a single thr

[2017-09-29 10:46] #377 closed

[2017-09-29 14:30] goglusid opened #407 "checkTerm wrt Publication's Limit"
@mjpt777

I would like your feedback on the following:

It seems to me (still not sure) that checkTerm(activeTermId, termId) {...if (termId != expectedTermId)...}

could be improved to fail less often by a re-validation of the publication's limit:

if (termId != expectedTermId)
{
  const std::int64_t limit = m_publicationLimit.getVolatile();
  const std::int64_t position =
                LogBuffe

[2017-09-29 18:50] tmontgomery commented on #406
With flow control at the network level (not just pub-lmt), you can't be assured that a set of fragments will arrive together on the Receiver side nor that they will batch together. For IPC, you might be able to make this assumption, though. But I wouldn't.

This sounds like a transactional boundary. You can use something like `Image.controlledPeek` to see if everything is there or not to actually

[2017-09-30 12:42] mjpt777 commented on #407
If this happens then the publisher is at least 3 terms behind and expectations of latency are seriously in question. I'd prefer to keep it simple and notify that system is under resourced. If you care about performance then running on machine with insufficient cores to run active threads is not a good place to be.

All that being said it is best to reduce the potential states and instruction where

[2017-09-30 15:47] mjpt777 opened #409 "ArchiveTest.recordAndReplayExclusivePublication Failed"
io.aeron.archive.ArchiveTest > recordAndReplayExclusivePublication[threading modes: driver=SHARED archive=SHARED] STANDARD_ERROR
    io.aeron.archive.ArchiveTest failed with random seed: 422830290689147

io.aeron.archive.ArchiveTest > recordAndReplayExclusivePublication[threading modes: driver=SHARED archive=SHARED] FAILED
    java.lang.AssertionError:
    Expected: is <2148>
         but: was <21

[2017-09-30 16:02] tmontgomery commented on #407
This also would create coupling between flow control and TermAppender. Which is not desirable.

[2017-10-01 01:16] goglusid commented on #407
Todd, Martin,

I concur with you. It is after all an abnormal situation and increasing coupling and state/instructions is not worth it.

When a publication is at least 3 terms behind and happens to be in the current active term then incrementing the rawTail will reserve a space that will stay uninitialized untill the media driver unblocks it. This would delay the associated subscriptions by the un

[2017-10-01 01:16] #407 closed

[2017-10-01 11:56] mjpt777 commented on #409
This failure can be replicated if the seed is set in the test to : 422830290689147.

[2017-10-01 13:14] mjpt777 commented on #409
Turns out the test has invalid assumptions. The above seed will have 320 remaining in the starting term and the first message ends up being 874 bytes and does not fit so a padding record is inserted and the term is rotated thus the actual `termId` is one greater than the expected.

[2017-10-01 13:34] #409 closed

[2017-10-03 13:30] mjpt777 opened #410 "PubAndSubTest > shouldFragmentExactMessageLengthsCorrectly FAILED"
Potential race in test case. Was seen by another use when switching from dedicated to shared threading mode.

io.aeron.PubAndSubTest > shouldFragmentExactMessageLengthsCorrectly FAILED
    org.junit.experimental.theories.internal.ParameterizedAssertionError: shouldFragmentExactMessageLengthsCorrectly("aeron:udp?endpoint=localhost:54325" <from UNICAST_URI>)

        Caused by:
        io.aeron.exce

[2017-10-03 21:31] bcaimano commented on #387
I've done a quick test of the Java driver on 3e36a0c with our usual config and a hugepages mount. It seems that truncate is failing on a size param of 8,392,704 (8 * 1,024 * 1,024 + 4,096). My quickest guess is that the metadata is getting added onto the end of the file after the size is determined.

[2017-10-03 21:35] tmontgomery commented on #387
@bcaimano did you set `aeron.file.page.size` to the hugepages page size?

[2017-10-04 02:36] bcaimano commented on #387
@tmontgomery, I'll give it a try tomorrow. (Apologies, I realized about an hour ago that I was probably missing something exactly like this.)

[2017-10-04 17:05] tmontgomery commented on #387
@bcaimano BTW, be sure to place the `-D` arg before the MediaDriver class name. Java will think it is a MediaDriver program arg if not. ;)

[2017-10-04 21:40] bcaimano commented on #387
Forming robust command line schemas is a lost art! :)

[2017-10-04 21:42] bcaimano commented on #387
I was able to successfully start up a single server system sitting on top of hugetlbfs backed Aeron today. I'll try to verify for full multi-server tomorrow.

[2017-10-05 13:21] lukeocamden opened #411 "C++ Client: ${HDRHISTOGRAM_LIBS} -> hdr_histogram dependency is not delcared"
Hello, PingPong depends on ${HDRHISTOGRAM_LIBS} but these are not declared to depend on hdr_histogram so PingPong may erroneously be built before hdr_histogram. I guess you would need something like:

[code]

Alternatively you could say add_dependencies(PingPong hdr_histogram) like you do for Ping.

Does that make sense?

[2017-10-05 19:45] tmontgomery commented on #411
Dependency added for PingPong. Thanks for pointing this out.

[2017-10-05 19:45] #411 closed

[2017-10-06 11:16] mjpt777 commented on #410
Failed due to another instance running at the same time.

[2017-10-06 11:16] #410 closed

[2017-10-06 15:09] vontikov opened #412 "C driver: separate sendmmsg and recvmmsg detection on build"
System: CentOS 6.5, glibc-2.12, cmake -3.9.1, gcc-7.2

Error:
`[ 79%] Linking C executable ../../../../binaries/aeronmd
../../../../lib/libaeron_driver.so: undefined reference to `sendmmsg'`

Cmake output:
$  cmake -DBUILD_AERON_DRIVER=ON ../aeron/

-- The C compiler identification is GNU 7.2.0

-- The CXX compiler identification is GNU 7.2.0

-- Check for working C compiler: centos6.5/GCC-7.2.0/b

[2017-10-06 15:25] bcaimano commented on #387
Okay, I've verified our full set up. Looks good.

There was one interesting semi-bug on our end due to a very low media driver timeout (10ms). It appears that while general operation is perfectly satisfied with that timeout, the initial driver connection may not be. I had to increase timeout to 1s to avoid the failure. I suspect that opening a hugepage-backed CnC file as a client provokes a *massi

[2017-10-06 15:26] bcaimano commented on #387
Assuming you two don't want us to run specific tests to check for implementation hiccups or the like, I think this ticket can be closed.

[2017-10-06 17:30] tmontgomery commented on #387
@bcaimano you mean the timeout you intentionally set very low, correct? Not that it was too low in the client code.

[2017-10-09 10:57] #412 closed

[2017-10-09 10:58] #362 closed

[2017-10-10 16:28] bcaimano commented on #387
Yes, that is correct. I believe @sthornington wanted to use it as a canary for data disruption.

[2017-10-10 22:30] tmontgomery commented on #387
Closing this as I believe it is done now.

[2017-10-10 22:30] #387 closed

[2017-10-12 06:06] #406 closed

[2017-10-12 06:07] #399 closed

[2017-10-12 06:07] #393 closed

[2017-10-12 06:07] #394 closed

[2017-10-12 20:07] goglusid opened #413 "Publication's Limit condition"
Shouldn't we check for the Publication and ExclusivePublication's backpressure condition in the following way? Otherwise, we could write beyond the publication limit.

inline std::int64_t offer(
        concurrent::AtomicBuffer& buffer,
        util::index_t offset,
        util::index_t length,
        const on_reserved_value_supplier_t& reservedValueSupplier)
{
...

const std::int64_t limit = m_

[2017-10-12 20:09] mjpt777 commented on #413
It was an arbitrary decision but we decided to limit on beginning and not end of a message.

[2017-10-12 20:11] goglusid commented on #413
But the limit isn't the slowest subscription? Writing past the pub limit will overwrite data not yet read by at least one subscription. No?

[2017-10-12 20:13] mjpt777 commented on #413
The limit is only 1/2 a term greater than slowest consumer and we have 3 terms.

[2017-10-12 20:16] mjpt777 commented on #413
1/2 term is the case for network publication and 1 term for IPC.

[2017-10-12 20:19] goglusid commented on #413
Indeed! sorry ;[

[2017-10-12 20:19] #413 closed

[2017-10-16 12:27] zyulyaev opened #414 "Potential archive segment filename collision"
Because of a typo in this line:
https://github.com/real-logic/aeron/blob/b55b005d6210f0622585793d8f80ef1a5488db6c/aeron-archive/src/main/java/io/aeron/archive/Archive.java#L756
one may get the same filename for different recordingId and segmentIndex pair. E.g. recordingId=1, segmentIndex=2 and recordingId=2,segmentIndex=1 gives you the same filename.

Solution is to replace single quotes with doub

[2017-10-16 12:44] mjpt777 commented on #414
Thanks. Yes you are correct. I've pushed a fix.

[2017-10-16 12:44] #414 closed

[2017-10-17 15:58] kudryashov opened #416 "Aeron-archive JAR file does not contain SBE-generated classes"
aeron-archive JAR (I checked versions 1.4.1, 1.5.0, 1.5.1) does not contain the SBE-generated classes, such as  io.aeron.archive.codecs.RecordingDescriptorDecoder. This makes aeron-archive not usable out of the box - one has to use the aeron-all artifact that luckily contains everything.

It looks like this is due to a typo in the build.gradle: in the aeron-archive project configuration instead of

[2017-10-17 17:04] mjpt777 commented on #416
Yes you are right they are not in the archive JAR. They are in the archive-all.jar and aeron-all.jar.  However this should be fixed.

[2017-10-20 02:42] bedding opened #419 "Spotted spikes with Publication::offer()"
I have seen spikes with Publication::offer() in my project, in order to verify that I wrote a simple test with 1 IPC publication thread and 1 IPC subscription thread running concurrently. The publisher puts 5MB data by calling offer() 5 times every 30ms, so that's 1MB data per offer() call. The subscriber is running an infinite loop to poll data off of the stream as soon as it as can. And I observ

[2017-10-20 05:02] mjpt777 commented on #419
Have you run JHiccup on your machine at the same time to see if it is suffering any systemic pauses?

https://www.azul.com/downloads/jhiccup/

[2017-10-20 17:09] bedding commented on #419
I can give it a try. Just FYI, the hardware is a c4.8xlarge EC2 instance.

[2017-10-20 19:23] bedding commented on #419
So I ran jHiccup by attaching it to the media driver. Following is the generated diagram,
![capture](https://user-images.githubusercontent.com/3995964/31838332-315dd264-b591-11e7-969b-aefd123d9e80.PNG)

The gap the the beginning is because the test has been running for a while before I attach jhiccup to the driver process.

[2017-10-21 12:57] mjpt777 commented on #419
During that run did you have offer times greater than 4ms? If so, what filesystem is containing the aeron directory? Are you seeing IO latency there? Have you profiled the IO to ensure you are not getting page faults on those memory mapped files? It maybe some odd issue with Aeron but given the magnitude of those pauses it is more likely something in that environment that needs discovering and tun

[2017-10-21 17:58] mjpt777 opened #420 "Check for max window length at start up to ensure socket buffers have sufficient capacity"
[code]

[2017-10-23 23:27] bedding commented on #419
It is the problem of the aeron directory I used with the test! I set it to be under a regular file system not tmpfs. I'm not seeing any spikes now. Thanks for the help!

[2017-10-24 07:18] #419 closed

[2017-10-24 07:18] #416 closed

[2017-10-24 10:16] #420 closed

[2017-10-24 15:15] #331 closed

[2017-10-25 08:20] tedqian opened #423 "zmq pgm/epgm lose package?"
In my test result. zmq pgm/epgm sometime loss the package， and receiver thought is less than 2000msg/s（only has a thread）。msg is less than 10 Bytes。
Is there some wrong with my code？
sender code：
          ctx = new ZContext();
        assert (ctx != null);

        output = ctx.createSocket(ZMQ.PUB);
        output.setRate(1000000000);
        log.info("rate = ....." + output.getRate());

    	ou

[2017-10-25 08:28] #423 closed

[2017-10-25 09:12] mjpt777 commented on #423
This has been posted against the wrong project. Zero MQ is elsewhere.

[2017-10-25 12:56] #404 closed

[2017-10-26 18:50] #405 closed

[2017-10-27 18:55] goglusid opened #424 "LogBufferUnblocker::unblock activeTermCount/expectedTermCount"
For the following function, if the following situation happens then the blockedoffset is used with the wrong term id.

IF

blockedPosition is within TermId = 0 (the second half because otherwise the pub=lmt doesn't cross two terms)
activeTermCount is now at 1

Then

index = 1
termId = 1

However given that blockedOffset refers to term 0, working with termBuffers[index] doesn't make sense.

It seem

[2017-10-27 20:57] tmontgomery commented on #424
You are talking about the Java code and not the C++ code, correct... the use of "::" had me confused.

If I follow your logic, there are some tests for this case. Specifically, doesn't `shouldUnblockWhenPositionHasNonCommittedMessageAndTailPastEndOfTerm` work how you mention? Or at least the spirit of it.

If I don't understand the test case, it should be straight forward to construct it in `LogBu

[2017-10-27 20:58] mjpt777 commented on #424
I think this is an issue in the Java code. I've been testing and about to push a fix. It has been a typo when I realised a missing case and my solution is not right.

[2017-10-27 21:04] mjpt777 commented on #424
It would be good to review if what I pushed makes sense.

[2017-10-27 21:10] mjpt777 commented on #424
That last push has an issue. I'm fixing.

[2017-10-27 21:23] tmontgomery commented on #424
Let me know when you are happy and I will review and reflect on the C side.

[2017-10-27 21:49] goglusid commented on #424
The reported issue is applicable to Java and C.

For the unblock section of the code I think we should use expectedTermCount.

For the rotateLog sections, I think we should still use the activTermCount though.

[2017-10-27 21:53] goglusid commented on #424
Sorry I replied too rapidly I will review the latest changes later and post my feedback

[2017-10-27 22:09] tmontgomery commented on #424
@goglusid I'm jetlagged badly, so it takes very little to confuse me. ;)

[2017-10-27 23:01] tmontgomery commented on #405
I've changed the member name to avoid macro substitution going wild here.

[2017-10-27 23:01] mikeb01 opened #425 "[C++] Have a version of Aeron::connect that take a unique_ptr<Context>"
So that the Aeron client takes ownership (and the ownership is explicitly stated) of the Context and its lifecycle does not need to be managed separately.

[2017-10-27 23:59] mikeb01 opened #426 "[C++] AtomicBuffer missing putUInt32"
And probably getUInt32 too.  There is probably an open question as to whether the equivalent atomic versions are required.

[2017-10-30 18:16] goglusid commented on #424
The latest changes resolved the issue. ;) Thanks

[2017-10-30 18:16] #424 closed

[2017-10-31 10:51] zyulyaev opened #427 "AeronArchive does not survive disconnects"
AeronArchive does not survive long disconnects > 5s.
But what is more important there is no way to know that Archive's ControlSession is dead or not.
The only sympton will be all AeronArchive methods throwing TimeoutException which is ambiguous. It may either indicate that connection is still considered connected by Aeron but is actually broken, or that Archive's ControlSession is dead.
One could

[2017-10-31 14:19] mjpt777 commented on #427
Yes you are correct that the error reporting should be better in such cases. I'm going to revisit this code.

[2017-10-31 21:34] mjpt777 commented on #427
No memory leak is occurring.  The Publication was going not connected and then connecting again with a new session. I've tightened up the logic to ensure the session is aborted if either inbound image or outbound publication drops.

When an inbound requests comes and no return path can be determined then sending back an error is tricky. @tmontgomery and I are looking at a number of ways to address

[2017-10-31 23:35] mjpt777 commented on #427
I've pushed a change that detects the connection is broken and gives a more informative message.

[2017-11-01 09:34] zyulyaev commented on #427
I think memory leak can actually occur in a scenario when you dropped your AeronArchive for some reason (app crashed or you consider it disconnected) and created a new one with same response channel and stream, while old ControlSession in Archive is still alive.
This case actually may lead to another unwanted behavior when your new AeronArchive fail to connect. ControlSession#waitForConnection suc

[2017-11-01 10:37] mjpt777 commented on #427
I've addressed those two potential situations.

[2017-11-01 16:35] goglusid opened #428 "ExclusivePublication wrt MediaDriver's rotateLog"
My understanding is that the ExclusivePublication assumes that it is the only one to drive its rawTail and activeTermCount.

As such, it uses non-atomic local variables such as the activePartitionIndex, m_termId and m_termOffset.
It also changes its rawTail using LogBufferDescriptor::initializeTailWithTermId(m_logMetaDataBuffer, nextIndex, nextTermId); which doesn't use the ordered version or a CA

[2017-11-01 17:12] mjpt777 commented on #428
This is a good observation. However consider what can happen. When I considered it the log is only rotated by one publisher. This means that if the publisher pauses and the driver rotates by unblocking then the publisher will set it to the same same value it is. If the publisher wins then the driver is CAS'ing and so will make no difference. I went with this to keep the code consistent. Do you thi

[2017-11-01 17:43] goglusid commented on #428
Indeed, having a rawTail going forward (driver's rotateLog and then backward (publication) could happen. I will go through the code again to see what side effects this would have. I will comment again later with my conclusion.

That being said, shouldn't we use the ordered version of put for the LogBufferDescriptor::initializeTailWithTermId? I'm not sure about a normal write wrt CAS.

[2017-11-01 17:48] mjpt777 commented on #428
It should not go forward and then back. The only race is to set it to the same value. It is a race but should be a benign race.

[2017-11-01 20:35] goglusid commented on #428
It must be the Halloween effect...I see bug's ghost everywhere! ;)

[2017-11-01 20:35] #428 closed

[2017-11-01 21:08] #427 closed

[2017-11-02 13:06] zyulyaev opened #429 "[Java] Misleading Publication javadoc"
Publication's javadoc [line](https://github.com/real-logic/aeron/blob/c9f8eb13dcc6766f382230d3066e21ff93d1b3d9/aeron-client/src/main/java/io/aeron/Publication.java#L31) and [line](https://github.com/real-logic/aeron/blob/c9f8eb13dcc6766f382230d3066e21ff93d1b3d9/aeron-client/src/main/java/io/aeron/Publication.java#L33) are misleading as there is ExclusivePublication extending Publication for which

[2017-11-02 17:00] mjpt777 commented on #429
Yes. Thanks for spotting that.

[2017-11-02 17:15] #429 closed

[2017-11-04 07:31] mjpt777 opened #430 "Add vectored IO methods to C++ ExclusivePublication"
Bring it in line with concurrent Publication.

[2017-11-06 02:15] rayqi36 opened #431 "C++Media Driver with java client"
It seems that while I running a Cpp Driver , I could not use java client to pub and sub. When I start the java program , it would throw a exception like this
LogFileName is /dev/shm/aeron-root/publications/UDP-00000000-0-0a027556-40124-79d1f3f7-a-f.logbuffer
LogFileSize is 805306816
TERM_MIN_LENGTH is 65536 and termLength is 0
java.lang.IllegalStateException: Term length less than min length of 65

[2017-11-06 06:38] hank-whu opened #432 "How to publish big msg zero copy?"
publication.tryClaim(2 * 1024 * 1024, bufferClaim)

java.lang.IllegalArgumentException: Claim exceeds maxPayloadLength of 4064, length=2097152

[2017-11-06 08:53] mjpt777 commented on #432
The largest claim is `Publication.maxPayloadLength()` which is the MTU length minus header. MTU defaults to 4KB but can be up to just under 64KB. This is the length of a Aeron fragment.

[2017-11-06 08:53] #432 closed

[2017-11-07 07:35] hank-whu commented on #432
so there is noway to send zero-copy big msg (e.g 2mb) ?

[2017-11-07 08:28] mjpt777 commented on #432
No because it needs to be fragmented and have headers applied to each fragment.

[2017-11-07 16:51] tmontgomery commented on #431
What version are you using?

[2017-11-08 00:22] goglusid commented on #356
Already fixed.

[2017-11-08 00:22] #356 closed

[2017-11-08 00:44] rayqi36 commented on #431
1.5.0-SNAPSHOT,maybe it is not a stable version ?

[2017-11-08 00:49] tmontgomery commented on #431
Try the 1.5.2 release tag.

[2017-11-13 03:16] Jsky1989 opened #433 "Performance comparison between Linux and Windows"
I did a simple test between Linux and Windows by samples, both java client.

Throughput is very good in Linux, about 2.5kw msg/sec, but under the windows only 200w msg/sec.

What is caused by the operating system?

PS:  I set SO_SNDBUF and SO_REVBUF to 1M in Windows, but it doesn't work.
[HKEY_LOCAL_MACHINE \SYSTEM \CurrentControlSet\Services\Afd\Parameters]
DefaultReceiveWindow = 1048576
DefaultS

[2017-11-13 22:53] bedding opened #434 "Questions about media driver warmup"
I was looking at Aeron-sample and found there are a couple of throughput tests that warm up media driver by sending and receiving 1,000,000 256 byte messages with a single stream. I have a few questions about warming up media driver, (for both IPC and UDP)

1. Does number of messages or total size of data matter when warming up media driver? Like, the difference between 1 million 256-bytes message

[2017-11-15 05:19] mjpt777 commented on #434
The Java media driver needs to warm up so that the JIT compiler can kick in an compile the hot code. The C2 JIT compiler will need to see 10K+ observations of a method to consider it hot. This means that the size of the messages being less than or greater than the MTU will warm up different paths.

It is best to warm up with a realistic profile. Similar length messages and number of streams as thi

[2017-11-15 05:19] #434 closed

[2017-11-15 05:55] mjpt777 commented on #433
Is this between machines or over local loopback? If loopback then I see Windows achieve about 50-60% the throughput of Linux if Windows 10 and Linux 4+ kernel. Older Windows is much slower. Linux has a highly optimised stack for loopback compared to Windows in default mode. Windows has SIO_LOOPBACK_FAST_PATH  for TCP which can be enabled per socket and got added in Java 8 update 60.

If I'm readin

[2017-11-16 09:45] Jsky1989 commented on #433
Thank you for reply, the above result tested in local loopback. I re-tested local loopback in Windows server 2008, throughput about 700w msg/s. The result of several other scenes is (Linux 4+ kernel local loopback : 2.5kw msg/sec), (Linux 4+ - between machines : 200w msg/sec), (Windows server 2008 between machines: 100w msg/sec).

In addition, is there a plan to official support aeron golang clien

[2017-11-17 11:03] mjpt777 commented on #433
I hear there is interest in advancing the Go client again from @stanliberman. Good to encourage it. A lot of contributions happen on peoples own time.  I know a number of people are interested in this one.

[2017-11-17 11:03] #433 closed

[2017-11-18 02:50] bedding opened #435 "Always missing the first message on a UDP stream"
Hello,

Recently I had issues with connectivity between multiple machines so I ran the SimplePublisher and SimpleSubscriber to test out if my udp channel configuration was right.

SimplePublisher and SimpleSubscriber were started from different boxes with media drivers running on both machines. I started SimpleSubscriber first, then SimplePublisher. I turned on debug log to make sure that I didn't

[2017-11-20 04:44] mjpt777 commented on #435
Whenever a publisher or subscriber is attempting there is a race to set up the connection. To be sure a connection is in place you can call `isConnected()` on either a Publication or Subscription. The `SimplePublisher` example should have been updated some time ago when we changed publications so that it was not possible to offer until a connection is established. I've corrected the sample.

The `

[2017-11-20 04:44] #435 closed

[2017-11-20 13:45] mjpt777 opened #436 "Consider changing tail offset to be number of frame alignments"
Rather than have the tail offset which is incremented on publication claim be the byte offset in the term it can be the number of frame alignments, currently 32-byte alignment, so that it gives a greater margin for error if many concurrent threads where to pass pass under the publication limit at exactly the same time to increment the tail and cause overflow.

For the publication to fail currently

[2017-11-20 14:31] nitsanw commented on #436
Sounds a bit like compressed oops, based on a similar observation on alignment, and with a similar (minor) overhead of "uncompressing" the offset. Cool idea :)

[2017-11-20 16:39] mjpt777 commented on #436
Credit should go to @goglusid for the observation.

[2017-11-20 20:25] bedding commented on #435
Thanks for the clarification. I didn't find isConnected in Subscription though. Is it guaranteed that the subscriber can receive the message when isConnected() is true and offer() has succeeded? Is it possible that the subscriber can still miss the message?

[2017-11-20 22:53] bedding commented on #435
Hey, I am still seeing message lost with udp stream with your suggestions. I used isConnected() function to check connectivity before offering anything with publication. I also checked image count on the subscription and I am pretty sure that both media drivers recognized each other.

To make sure the the stream is "open open", I sent a connection ack message to the stream before sending any real

[2017-11-21 13:04] mjpt777 commented on #435
If you do not have the `Subscription.isConnected()` method then this suggests you are on an older version. Upgrading would be a good start.

Have you looked at the Aeron counter stats? Look for NAKs, short sends, and if the connections are established. If it happens and you can grab dump of the counters then this would help a lot with debugging.

[2017-11-27 21:33] bedding opened #439 "Duplicate Messages Received for Long Running Processes"
- **What we found**
  - We created a test client application that will connect two peers over UDP and send an incrementing set of sequence numbers to a local client&#39;s remote peer. The local sequence number is incremented by 1 on each message sent. When reading messages, the remote peer asserts that the stream of sequence numbers contained in the data messages is strictly increasing by one. The

[2017-11-27 22:47] bedding commented on #439
These are the Aeron counters and error logs from both the peers in Setup 2.

Peer 1 stopped running at the time it received the duplicate message from 6 hours ago, while Peer 2 continued to run. This is why Peer 2 has about double the number of bytes sent than received.

Peer 1 - c4.8xl

[code]

 Peer 2 - c3.8xl

[code]

 Peer 1 Errors

[code]

 Peer 2 Errors

[code]

[2017-11-28 00:08] tmontgomery commented on #439
Great info. Thanks!

The immediate observation is that error log should not have the IOExceptions. Those would be worrying as they should not occur. And since they do, I would try to understand why. Isolating these would be ideal first step. They seem to happen much earlier in the run.

If my math is correct, then 6 hours at 1000 msgs per 10 seconds gives message total of 2160000. Does that match

[2017-11-28 02:01] bedding commented on #439
Message length is 6 bytes
- The size of the data message is 16 bytes, although it's still within the 32-bytes alignment.

If my math is correct, then 6 hours at 1000 msgs per 10 seconds gives message total of 2160000. Does that match what was intended?
- Your math is right. The problematic sequence number received was 1188215 from Peer 2 by Peer 1 on which the assertion failed, it was expecting 29

[2017-11-28 07:27] mjpt777 commented on #439
Does the aeron stat counters show that the connection was dropped and re-established by the driver receiving the duplicate? That will show up with a `sub-pos` have a joining position later on, e.g. `... @<xxx>` on the end of the label.

[2017-11-28 19:58] bedding commented on #439
I did another test run with Setup 2. However, this time Peer 2 received a sequence number that looks like from the future,

[code]

I would suggest that you run the code ConnectionSample.cpp since I can reproduce it every test run.

I also captured stream position every minute with the test run and dumped the debug logs of media drivers to files.

I looked at `@<xxx>` in Aeron stats of both Peer 1

[2017-11-28 20:23] mjpt777 commented on #439
BTW do you know the reason for the `InvalidChannelException`s? Is this something in your code that you have fixed? I'd like to filter out the noise.

[2017-11-28 20:28] bedding commented on #439
That was because when I start the test client application, I gave it an endpoint that happened to contain a wrong character at the end. After I fixed the endpoint, it worked fine.

[2017-11-29 00:33] tmontgomery commented on #439
I have not been able to reproduce this after a few hours of running. Nor can I find anything by inspection. Nor do I see the `IOException`s.

[2017-11-29 00:38] tmontgomery commented on #439
BTW, what is the JVM version you are using?

[2017-11-29 01:13] bedding commented on #439
java version "1.8.0_144"
Java(TM) SE Runtime Environment (build 1.8.0_144-b01)
Java HotSpot(TM) 64-Bit Server VM (build 25.144-b01, mixed mode)

[2017-11-29 12:00] mjpt777 commented on #439
What is the MTU length you are using for Aeron? This might be the result of a restriction in the OS setup and the default 4096 of Aeron being too large, then at some stage you batch up enough messages into a datagram to exceed the OS or network tunnel limit.

Try setting the MTU to be 1400 and see if it still happens.

[2017-11-29 17:56] bedding commented on #439
The MTU should be the default. I can try change it to 1400.

[2017-11-29 17:58] mjpt777 commented on #439
@bedding Any reason for closing? I've pushed some changes that will capture more data on the exceptions. If you try this we might have more of an idea.

[2017-11-29 17:58] bedding commented on #439
Sorry about close and reopen the issue. I was going to leave a comment but pressed the wrong button.

[2017-11-29 18:05] bedding commented on #439
I will definitely try to run it with you latest changes.

Also a few more question. Have you been able to reproduce the the problem? Did you run the test from two boxes? Was it running on EC2 instances? I'm asking because till now we can consistently reproduce it with Setup 2.

[2017-11-29 18:21] tmontgomery commented on #439
I've had no luck as of yet reproducing the symptoms. However, I am not using your client app. I'm trying to duplicate a single stream so we can isolate behavior. Your app has a lot of additional stuff going on that may or may not be relevant to the issue. Also, multi-hour runs aren't real productive to work through. Also, only a single box. Paying for EC2 instances for multi-hour runs is not quite

[2017-11-29 18:35] bedding commented on #439
I don't think this can be reproduced on a single box. We didn't see this happen with Setup 1, which is running two instances of ConnectionSample with each of them connecting to a media driver. I highly doubt a single stream test can capture this case.

I'm also curious about which part of the ConnectionSample can be a potential cause of the problem?

[2017-11-29 18:47] tmontgomery commented on #439
As we don't know what the issue may be.... only some very sloppy theories, we can't know what is causing it or not. Working from a known good behavior to finding bad is either you add or you take away..... in this case, it is easier to add more things and work up than remove behavior.

Why would it not be able to be run on 1 machine with 2 media drivers? The network can indeed cause issues, but wh

[2017-11-29 19:21] bedding commented on #439
I was not able to reproduce the problem with Setup 1, but I saw it every time with Setup 2. And the test from yesterday showed that Peer 1 received garbage instead of a duplicate message.

[code]

I am going to test it again with MTU and the latest. Will let you know as soon as I can.

[2017-11-29 20:22] dillonhicks commented on #439
Hi guys, I am working with @bedding and I am familiar with this issue.

@tmontgomery: To reiterate, we have been able to reproduce the issue only when running with two instances. We have never seen this issue when running two media drivers on one instance. If media drivers are communicating over a loopback interface there might be confounding issues with reproducing our problem, no?

Right, that's

[2017-11-29 20:56] bedding commented on #439
I changed configuration of MTU to 1400 and got this exception:

[code]
Command to start media driver that causes the above error
[code]

And then I changed `-Daeron.mtu.length=1400` to `-Daeron.mtu.length=1024`, it worked fine.

[2017-11-29 21:05] cesaref commented on #439
Well i'm intrigued to know what is going on here.

I've started your test program on a pair of servers here, and i'll keep at eye on them and see what happens. Hopefully they'll have enough disk space as the logs look quite chatty...

[2017-11-29 21:10] tmontgomery commented on #439
@dillonhicks we test with randomized loss on single machines with multiple media drivers. In fact, our systems tests do this on every build. Beyond that I do additional randomized loss tests periodically to make sure that we handle loss at rate correctly and that nothing has broken loss recovery.

The biggest culprit of things we can control in Aeron has to do with how we handle loss (sending NAKs

[2017-11-29 22:21] bedding commented on #439
I'm running the test with MTU=1024, it's running fine. However, I start to see the same error messages from ErrorStat on Peer 2. (No error occurred on Peer 1 so far)

[code]

[2017-11-30 06:52] mjpt777 commented on #439
@bedding Thanks. I note from the errors that you are not using the latest build as it would have listed the length of the buffer sent.

[2017-11-30 08:07] cesaref commented on #439
Well i've run for 11 hours or so and not seen this behaviour. No aeron errors or anything unusual. No dropped packets on my network interfaces (which is unsurprising).

If the speculation about corrupt UDP packets arriving is the cause, then i'd expect you to see large numbers of (correctly) dropped packets on the interfaces in question, which will show in the interface stats, or in dmesg. Of cour

[2017-11-30 14:46] mjpt777 commented on #439
@cesaref I find it interesting that there is some loss and short sends on this run. Suggests something is not quite well in this test. I've seen short sends under resource starvation.

[2017-11-30 16:58] tmontgomery commented on #439
Just some clarifications.
- if cksums are disabled, interface stats will not show any errors
- if cksums are enabled, but foiled due to error patterns, then interface stats will not show errors for those datagrams that pass validation. If may show some errors that do get caught.... maybe.

In other words, the absence of errors on the interface isn't a guarantee.

Looking through the logs several t

[2017-11-30 18:21] bedding commented on #439
@mjpt777 Pulling latest changes takes time and we wanted to kick off a test as quickly as possible to see if changing the MTU setting could yield difference results.

We haven't seen the either peer from the test started yesterday aborted yet. The error count on Peer 2 still increases, and errors are all (java.io.IOException: Message too long)

[2017-11-30 19:42] cesaref commented on #439
@tmontgomery I see, so it's likely that the app is a bit bursty, and the send/receive buffers aren't long enough to deal with it. I could try increasing the buffers and re-running (I can the straight java media driver without fiddling with any settings).

[2017-11-30 19:54] tmontgomery commented on #439
The app sends in 1000 message bursts every 10 seconds. Plus same on other stream. The default window length (128KB) is probably too large compared to the RCVBUF settings and the fact that there are 2 streams on the channel.

[2017-11-30 19:59] tmontgomery commented on #439
@bedding apparently fragmented IP packets (such as with Aeron MTU of 4096) have a high level of checksum errors on AWS. At least according to checking with some who are heavy users of AWS with UDP and from some posts on the net. So, if checksums are off, then it would fit the evidence. It would also be right in line that moving to a smaller MTU reduces the occurrences.

[2017-12-01 13:47] mjpt777 commented on #439
@bedding Can you confirm that checksums are 0 in the UDP packet header? This will tell us if checksums are on or off - zero is off. You can use the poorly named `tcpdump` to capture UDP packets ;-)

[2017-12-02 01:43] dillonhicks commented on #439
@mjpt777, @bedding I was able to run `tcpdump` on own my parallel setup (1 c3.8xl, 1 c4.8xl). Over the last couple of days I have run a few different permutations of the ConnectionSample which included cases where the aeron mtu was under and over the path-mtu.
Given:
[code]
 I saw **no** udp checksum failures when sampling over a handful of random 10 and 60 second intervals on both peers in the la

[2017-12-02 03:16] tmontgomery commented on #439
The tx/rx queues can change a little too quickly to catch. Sorta hard to catch in the act before they drain. You might look at `LossReport` and use it to track loss events. That will give some timings and might be a good way to help isolate resource starvation interactions.

[2017-12-02 12:08] mjpt777 commented on #439
@dillonhicks When you say you have seen no errors is that UDP errors or does it also include no errors in delivered messages? Are you still seeing message delivery errors?

[2017-12-05 12:32] BrassyPanache opened #443 "Allow ArchiveContext to be configured with an instance of AeronContext"
I hope to start an `ArchivingMediaDriver` with an non-default Aeron directory.  I can't do this using only Java code by way of building the required contexts (`Archive.Context` and `MediaDriver.Context`).  I believe I can change the directory using command-line provided properties, however I'd like to be able to do the former.

Using `Aeron.Context`, the directory can be changed with the call `Aer

[2017-12-05 12:48] mjpt777 commented on #443
This was addressed with the following commit and will be in the next release.

https://github.com/real-logic/aeron/commit/ef13afbd1cdd21d8e89af2e60b7c2cb15ec86f63

[2017-12-05 12:58] #443 closed

[2017-12-05 12:58] BrassyPanache commented on #443
Thanks for the quick reply.

[2017-12-15 01:00] bedding commented on #439
Till today we have not see any error (include Aeron errors and ConnectionSample errors) with @dillonhicks 's test setup on EC2.

To figure out if the errors I have seen is related to MTU, I ran `tracepath` between my two peers, and it seems that the path MTU is only 1500 on the first hop, although the link MTU is 9001. This might be the cause of message drop and corruption and probably can explain

[2017-12-15 01:00] #439 closed

[2017-12-15 03:35] rayqi36 opened #446 "aeron-driver would generate a segment fault while removing subscriber"
![image](https://user-images.githubusercontent.com/13432546/34025498-227050a8-e18b-11e7-923d-b650c15c3a96.png)

The aeron-dirver version I used is 1.6.0. I start a aeron-client program which including 2 subcribers  to subscribe to the driver and stop it immediately . Try this several times, the driver would generate segment fault. The channel is IPC.

the image below is trying to print this proces

[2017-12-15 03:56] rayqi36 commented on #446
The code in my program is below

std::int64_t subid = aeron->addSubscription(recvchannel, recvstream);
std::shared_ptr<Subscription> subscription = aeron->findSubscription(subid);
subscription = aeron->findSubscription(subid);

while (!subscription)
{
    std::this_thread::yield();
    subscription = aeron->findSubscription(subid);
}
fragment_handler_t handler = AeronMessageHandler();

subid = aer

[2017-12-15 19:31] tmontgomery commented on #446
Try with the latest. fefc259b6613175946bc07fa4172fffe249f6fe6 is a change that should address this.

[2017-12-15 21:46] steveturner commented on #203
My apologies that I'm coming completely out of no where on this, but the discussion on EC and LKH keying for multicast security with Aeron/Akka sounds particularly interesting. Has anyone worked any prototypes in this area yet?

[2017-12-15 22:06] tmontgomery commented on #203
We will be working on this right after the new year. The basic infrastructure, that is. i.e. encryption/decryption and a framework for various cyphers. Doing something with EC and LKH could follow on from that if there is interest.

[2017-12-16 02:18] rayqi36 commented on #446
I will try it and write the feedback. Thanks

[2017-12-17 00:04] benalexau opened #447 "Aeron Archive and Cluster queries"
We are already heavy users of Aeron and SBE, but for a new project I’m looking at how to effectively produce a long-term replayable CQRS stream with high availability (HA) characteristics.

Our requirement is for clients to send high volume SBE messages to a HA messaging layer that ensures a deterministic event order when subsequently delivered to subscribers. Ideally the messaging layer would als

[2017-12-17 14:56] mjpt777 commented on #447
Aeron Cluster is in active development and what you can see is only a partial implementation. In time we will be adding a full Raft implementation with automated leader election and the features to operate clustered services. That is coming next year. At this stage we don't want to be distracted with answering questions on the partial implementation you can see.

The design of the Archive we have

[2017-12-17 21:14] benalexau commented on #447
Hi Martin, thanks for the reply and expanding on the scope. Unfortunately we need to proceed quickly with a POC as such I will roll a simple solution that builds on some of our existing libraries and Raft infrastructure.

Just in case it's of interest to receive community feedback concerning generic capabilities we've found useful when building SBE and Aeron applications, below is a list of our in

[2017-12-17 21:14] #447 closed

[2017-12-21 16:16] mjpt777 commented on #430
Added with this commit. https://github.com/real-logic/aeron/commit/453e50b036ac46bd507fa1d4550ce9398d206356

[2017-12-21 16:16] #430 closed

[2017-12-21 16:19] mjpt777 opened #448 "Reduce allocation with creating position counters"
Use the new methods in Agrona to encode numbers and partial strings into the counters labels for stream positions and other labels in the driver to reduce allocation.

[2017-12-22 01:16] rayqi36 commented on #446
I have run the driver for a week and have never found it core dump again

[2017-12-22 01:17] #446 closed

[2017-12-25 11:33] mjpt777 opened #449 "Add the ability to create a subscription for a channel, stream id, and session id triplet"
Rather than subscribe for all sessions on a stream id and channel paring it would be useful to be able to create a subscription for a specific session. This would be useful for setting up the recording of a specific publication or could be used for the subscribing to the replay of a specific recording.

Later the ability to create a publication with a specific session could be added for pairing up

[2017-12-26 17:06] tmontgomery commented on #449
This should be fairly straight forward. It does change a couple checks, but it should not require new state be added. It will require a new tombstone in the data packet dispatcher for the possibility of unwanted session Ids.

[2017-12-26 22:02] mjpt777 commented on #431
Is this still an issue with 1.7.0?

[2017-12-26 23:34] JeffGreen opened #450 "Invalid pointer errors in aeron_uri_test.cpp"
Hello!

The `shouldNotParseInvalidUriScheme` and `shouldNotParseInvalidUriScheme` tests in aeron_uri_test.cpp fail with invalid pointer errors when running cppbuild -b.

I'm far from an expert in C++ or Aeron, but with my limited understanding I'm wondering if this is due to an attempt to aeron_free() / free() of an uninitialized URI in the UriTest destructor:

[aeron_uri_close(&m_uri);](https://g

[2017-12-27 01:58] rayqi36 commented on #431
Sorry, late to close this issue.  I'm now using the version 1.6.0, it works good with the cpp dirver and java client.

[2017-12-27 01:58] #431 closed

[2017-12-27 03:42] alapins opened #451 "Context.interServiceTimeout has no effect"
I was trying to increase the amount of time allowed before getting a ConductorServiceTimeout exception, and I set the context.interServiceTimeout to 20 seconds, but the logs still report a timeout after 10 seconds.  Looking at the Aeron.Context.conclude() code, I see that it's impossible to set the value as part of the client context.  Is this intentional?

from Aeron.Context.conclude():

[2017-12-27 08:50] mjpt777 commented on #451
You control the client inter service timeout by setting the `aeron.client.liveness.timeout` property on the driver. The client has the ability to change this for testing only which I've made package private.

[2017-12-27 17:23] tmontgomery opened #452 "Applications shouldn't have to manually linger a publication"
Applications should not have to manually keep a publication open to linger as can optionally be done in the `BasicPublisher` application. The media driver should accept a param to the publication to add more time to the linger timeout for the publication if it desires the lingering behavior.

[2017-12-27 18:58] bedding opened #453 "[Feature Request] Blocking poll()"
All the poll() functions in Subscription class are non-blocking. I think it would be very helpful if Aeron can provide a blocking version of poll() function, which is only waken up when a new fragment is available. This can save the CPU time that is wasted by the client application on busy waiting for new fragments to come.

I understand that one of the design principles of Aeron is to avoid block

[2017-12-27 21:10] mjpt777 commented on #453
A number of people have requested this but no one has been willing to sponsor the development. It is not something we would add without a major client that sponsored the development.

[2017-12-27 22:33] bedding commented on #453
As far as I know, poll() checks frameLength from the term buffer to determine whether new fragment has arrived. How would you recommend to implement this blocking API if we wanted to do it ourselves?

[2017-12-29 19:56] #451 closed

[2017-12-29 20:01] tmontgomery commented on #450
Thanks! This is now addressed by initializing the type to UNKNOWN.

[2017-12-29 20:01] #450 closed

[2017-12-30 14:55] mjpt777 commented on #449
The `session-id` can be a filter as a channel param so the API does not need to be modified.

[2018-01-02 15:09] mjpt777 commented on #453
Sorry but I don't have time at present to go into the details of a possible design. I'll close this now and it can be reopened if someone is willing to sponsor the development.

[2018-01-02 15:09] #453 closed

[2018-01-02 15:11] mjpt777 opened #454 "Support a Aeron client with an AgentInvoker from the AeronArchive client"
While busy spinning and waiting on a response from an archive then invoke the aeron client conductor if an `AgentInvoker` is present.

[2018-01-02 15:23] #454 closed

[2018-01-19 14:19] mjpt777 opened #456 "Need to close a Publication on channel conflict"
If a port conflict, or the like, occurs when a publication is set up with a clashing channel then it gets a repeated error while trying to send a setup message as below. We need a means of cleaning up channels and their associated publications and subscriptions when socket errors occur.

[code]

[2018-01-19 16:16] tmontgomery commented on #456
The `NotYetConnectedException` is the result of trying to send after a conflict on the publication side. This can also happen if the OS hasn't been connected for a couple reasons. So, we can't simply stop on this particular exception as it can be spurious.

However, this particular exception should be caught and ignored on sending.

[2018-01-19 18:16] tmontgomery commented on #456
Some now handled by 1b437856fa405c4921b0f35f7fdabdea3fc7de7f to reduce number of exceptions.

[2018-01-19 18:17] tmontgomery commented on #456
In addition, we should add in a force close command response so that a Publication/Subscription/Counter can be forcibly closed by the driver and the client informed. In addition, this response could be used to inform the client of a driver being shutdown.

[2018-01-19 18:18] mjpt777 commented on #330
Complete with this commit. https://github.com/real-logic/aeron/commit/ed3901f3c80e627833f3092b16bd413055c2756c

[2018-01-19 18:18] #330 closed

[2018-01-19 18:43] tmontgomery commented on #330
Still needed for C media driver, BTW.

[2018-01-19 20:03] goglusid opened #457 "Question: Java Vs C++ IPC Throughput"
Hi,

I just ran the following 3 tests with the Java and C++ version of  Aeron:

a) Aeron Java 64 bits: ~23 M msg/s  with 96 Bytes/Frame   (using Publication::offer)
b) Aeron Java 64 bits: ~43 M msg/s  with 96 Bytes/Frame   (using ExclusivePub::offer)
c) Aeron Java 64 bits: ~900 K msg/s with 8032 Bytes/Frame (using ExclusivePub::offer)

a) Aeron C++ 32 bits: ~6.3 M msg/s with 96 Bytes/Frame   (usin

[2018-01-19 20:41] tmontgomery commented on #457
Why use 32-bit C++?

[2018-01-19 20:42] mjpt777 commented on #457
By similar do you mean that the 64-bit C++ is similar to Java 64-bit?

[2018-01-19 20:50] tmontgomery commented on #457
I don't think the build optimizes for VS2017 compiler options by default. You would have to pass them in via the cmake command or do it via the IDE after project generation.

Also, the msvc atomic methods are fairly totalitarian. i.e. they could be made less restrictive and let code flow more. Enabling better optimizations.

[2018-01-19 21:09] goglusid commented on #457
I meant C++ in 32/64 bits have similar results.

I ran the tests again but this time using different CPU using the affinity of the driver/test application.

a) Aeron C++ 32 bits: ~10 M msg/s with 96 Bytes/Frame   (using using Publication::offer)
b) Aeron C++ 32 bits: ~26 M msg/s with 96 Bytes/Frame   (using using ExclusivePub::offer)
c) Aeron C++ 32 bits: ~620 K msg/s with 8032 Bytes/Frame (using

[2018-01-19 21:25] tmontgomery commented on #457
The `thread_fence()` in https://github.com/real-logic/aeron/blob/master/aeron-client/src/main/cpp/concurrent/atomic/Atomic64_msvc.h is probably strangling some optimizations. Also, /O2 may not be the best option.

[2018-01-19 21:30] goglusid commented on #457
Thanks for the hint. If I find a way to speed up that thing, I'll comment.

[2018-01-19 21:30] #457 closed

[2018-01-19 21:31] tmontgomery commented on #457
Thanks! Please do!

[2018-01-20 13:06] mjpt777 opened #458 "Investigate a means of improving the performance of DatagramChannel.send(buffer, address)"
This expensive method has become even more so with Meltdown and Spectre. Maybe the DNS resolution can be cached.

[2018-01-22 12:07] io7m opened #459 "Question: What is the correct way to configure subscriptions and publications for NAT traversal?"
Hello.

I've been putting together a small client/server example in an attempt to gain an understanding of the API. I have a basic example working that sets up a pair of publications and subscriptions in order to have two-way communication between the client and server. It works as follows:

1. Server creates a subscription `ss` with address/port `10.8.0.1:9999`. This subscription is used to read

[2018-01-22 14:36] goglusid commented on #457
@tmontgomery I tested with an empty thread_fence (no readwrite barrier) and it didn't affect the performance. It is not this. I also ran two thread publishing on the same stream id with one subscription.  I almost double the throughput. So it appears to be the publication that is too slow compared to the Java counterpart...on the same PC!

[2018-01-22 15:06] mjpt777 commented on #457
@goglusid Are you testing 32 or 64 bit C++ and compared to what word size for Java?

[2018-01-22 15:50] goglusid commented on #457
@mjpt777 I am testing both C++ in 32/64 bits but I don't see a major difference between these two. The ~2X difference in throughput is between C++ 32/64 bits and Java.

I assume Java is in 64 bits. I don't know how to check that except by using the following command:

java -version
java version "1.8.0_151"
Java(TM) SE Runtime Environment (build 1.8.0_151-b12)
Java HotSpot(TM) 64-Bit Server VM (bui

[2018-01-22 16:30] mjpt777 commented on #457
You are running 64-bit Java.

[2018-01-22 16:34] goglusid commented on #457
Ok I now lost all possible credibility. :s Don't ask what happened before...it is too silly. I re-ran the "real" 64 bits Aeron C++ executables and this is what I got. This issue is definitely closed! Sorry.

a) Aeron Java 64 bits: ~23 M msg/s  with 96 Bytes/Frame   (using Publication::offer)
b) Aeron Java 64 bits: ~43 M msg/s  with 96 Bytes/Frame   (using ExclusivePub::offer)
c) Aeron Java 64 bits

[2018-01-22 16:39] mjpt777 commented on #457
On a quite review a number of these approaches are out of date. I'll look at updating which should give more performance.

[2018-01-22 17:27] mjpt777 commented on #457
@goglusid Please try with the latest build and see if it improves things.

[2018-01-22 18:17] goglusid commented on #457
:D Thanks!

a) Aeron C++ 64 bits: ~[18, 19] M msg/s with 96 Bytes/Frame   (using using Publication::offer)
b) Aeron C++ 64 bits: ~[38, 39] M msg/s with 96 Bytes/Frame   (using using ExclusivePub::offer)
c) Aeron C++ 64 bits: ~ 1 M msg/s with 8032 Bytes/Frame (using using ExclusivePub::offer)

[2018-01-22 22:35] tmontgomery commented on #459
MDC isn't explicitly for NAT traversal. It just so happens that dynamic MDC allows a Subscription to be behind a NAT. i.e. on the private side. The reason is that dynamic MDC on the Subscription side sends a periodic SM that can initiate data flow back.

To set that up in the setup above requires a dynamic MDC as the connect request response information (`cs`). And the server to setup a Publicatio

[2018-01-22 22:47] tmontgomery commented on #457
@mjpt777 the changes are what I suggested above. Also, msvc could use a few other changes. But they get a little more invasive.

[2018-01-23 03:26] goglusid commented on #457
I assume similar changes using aeron_acquire/release  are also needed in the C media driver.

[2018-01-23 03:49] tmontgomery commented on #457
The C media driver isn't ported to MSVC yet. When it does, we'll use compatible operations.

[2018-01-23 12:28] io7m commented on #459
Yes, I understand. The fact that it can do NAT traversal is just a happy consequence of how it works.

Could you give me some example channel URIs (and an indication of whether those are subscriptions or publications) for a server at `1.2.3.4` and a client at `10.2.0.1` (behind NAT)?

If I'm understanding correctly, I _think_ the client does this:

`p = addPublication("aeron:udp?endpoint=1.2.3.4:9

[2018-01-26 15:06] tmontgomery opened #460 "Archive and Cluster need a CnC file for their directories"
Archive and Cluster need to have a CnC file to hold information about being active. And also perhaps some active state.

For the Archive, the catalog is the CnC file equivalent. But needs some more information.

- timestamp for activity
- version
- archive: current recordingId counter
- cluster: recordingId of active log
- location of active Aeron driver in use
- cluster: location of active local

[2018-01-30 15:30] jamesbond00 opened #463 "Could not find org.agrona:agrona:0.9.13-SNAPSHOT"
Date: 30 Jan 2018

https://github.com/real-logic/aeron/blob/83b5094acf64790ab50f1c89b5176c86d15a0d26/build.gradle#L174

Hello,

I just cloned Aeron today. I am getting "Could not find org.agrona:agrona:0.9.13-SNAPSHOT" when running gradlew on Mac OS. Apparently the snapshot does not exist in the Maven repo https://repo.maven.apache.org/maven2/org/agrona/agrona.

Thanks,
Alex

--------
Maven:
https

[2018-01-30 15:40] mjpt777 commented on #463
The current master for Aeron requires Agrona and SBE to be be cloned and built locally.

https://github.com/real-logic/agrona
https://github.com/real-logic/simple-binary-encoding

[2018-01-30 15:40] #463 closed

[2018-02-01 10:08] mjpt777 commented on #460
I think you mean:
 * cluster: recordingId of active log

For the cluster it will have a channel URI and stream id for the local archive but not the directory.

[2018-02-01 15:43] tmontgomery commented on #460
Actually, I was thinking that the max recordingId could be kept. I know we can go from what is read, though. But I was thinking to keep from reusing Ids after trimming and restarting. Even, though, that is fine.

[2018-02-01 20:00] tmontgomery opened #464 "Session Id specific recordings can incorporate some new efficiencies"
Session Id specific recordings should close automatically on the image becoming unavailable.

[2018-02-01 20:08] mjpt777 commented on #464
They can also be stopped early if necessary by the normal API. This may be because multiple publishers are keeping it active when not wanted.

[2018-02-01 20:11] tmontgomery commented on #464
Renamed to open up any new semantics we can come up with.

[2018-02-07 23:28] cspiker7 opened #465 "Question: Performance comparison with NORM protocol?"
I don't see a user forum for this project, so I will post my question as an issue. My apologies if there is a better place.

Has anybody has compared Aeron with the NORM protocol?
https://www.nrl.navy.mil/itd/ncs/products/norm
They look similar and I'm trying to understand improvements Aeron might have included over the open-source NORM. The specification mentions that much of the same design was

[2018-02-07 23:46] tmontgomery commented on #465
I've not heard of a comparison of the implementations.

Several of the concepts present in the NORM protocol are used. As is the case for any NAK oriented protocol, actually, since NORM incorporates the best known techniques. Several specifics are different, but the basics of NAK operation haven't drastically changed from SRM semantics. http://www.icir.org/floyd/srm.html

From an implementation st

[2018-02-08 16:00] arpmipg opened #466 "Reconnected subscription does not receive messages"
Steps to reproduce:

1. Start media driver. All publishers and subscribers should use same media driver.
2. Start publisher on CHANNEL (any udp) and STREAM_1
3. Start subscription1 on CHANNEL (same) and STREAM_2 (!= STREAM_1)
4. Start subscription2 on CHANNEL (same) and STREAM_1
5. All good, subscription2 gets messages from publisher.
6. Close subscription2 and sleep for some time (10 seconds).
7.

[2018-02-08 16:02] mjpt777 commented on #466
What version of the Aeron, client and media driver type?

[2018-02-08 16:05] arpmipg commented on #466
aeron 1.7.0
I reproduced issue using io.aeron.driver.MediaDriver (no changes), io.aeron.samples.BasicPublisher (no changes), io.aeron.samples.BasicSubscriber (just added logic with second subscription and reconnection)

[2018-02-08 16:11] arpmipg commented on #466
[BasicSubscriber.zip](https://github.com/real-logic/aeron/files/1707804/BasicSubscriber.zip)

Please see changes in BasicSubscriber.

If you commented lines 72-75 - all good.

[2018-02-08 16:25] tmontgomery commented on #466
With the head, I do not see this occurring. Can you try it with the latest head of the repo?

[2018-02-08 16:53] arpmipg commented on #466
Awesome!
Thank you.
Does not work in 1.7.0 but works fine in head.

When do you plan next release?

[2018-02-08 17:01] tmontgomery commented on #466
@mjpt777 and I have talked about a release soon. Want the current round of archive and cluster changes to be in, though.

[2018-02-09 11:32] io7m commented on #459
I was pulled away from this to work on something else, but I've spent the last couple of days trying to get this working. I've succeeded (including testing that data does actually traverse NAT) with one show-stopping caveat.

In my test network, the server lives at `10.2.17.1` and the client lives at `10.10.0.5` on the private side of a NAT router (the router is at `10.10.0.1` and does translation

[2018-02-10 14:56] mjpt777 commented on #459
You can have one publication per client if you use exclusive publications. With the current master you can also specify a session-id on the publication and subscription side as a channel param. Session ids are normally automatically assigned but the next release will support a reserved range of ids that can be manually assigned by the publication.

[2018-02-11 20:54] io7m commented on #459
I assume you don't mean simply use `addExclusivePublication` to create the initial publication on the server? The example code already does this (I shortened `addExclusivePublication` to `addPublication` in the quoted example because I thought [according to the JavaDoc] that an exclusive publication was merely a non thread-safe version of an ordinary publication). If I post messages to the server'

[2018-02-12 10:38] mjpt777 commented on #459
Exclusive publications are not just single threaded there is a new log buffer created for each. If you are using master and provided a `session-id` param in the subscription for the matching publication then you receive only that session. That is if the subscription and publication have the same session-id then traffic only goes between them providing no wild card (default) session id subscription

[2018-02-14 15:10] spoerri opened #468 "Archive and SHM"
Does Aeron Archive service support shared memory transmission medium?

[2018-02-14 15:15] mjpt777 commented on #468
Yes. Set the channel to IPC.

https://github.com/real-logic/aeron/blob/master/aeron-samples/src/main/java/io/aeron/samples/EmbeddedIpcThroughput.java#L37

[2018-02-14 15:15] #468 closed

[2018-02-14 15:16] mjpt777 commented on #468
It would be better with a more specific question.

[2018-02-26 02:28] goglusid opened #472 "C++: Image's m_logBuffers wrt Move in Subscription::add/remove Image"
I would like to have your opinion on the following. Is it an issue?

**Note:** I haven't tried to make the following situation happens. At this point, I just suspect this is an issue.

Following is a series of steps leading to the suspected issue:

1) Application Thread calls:
[code]
Application Thread is somehow interrupted...

2) Conductor Thread calls:
[code]
 Because it executes the following

[2018-02-26 03:13] tmontgomery commented on #472
I think you are correct. Would probably be better to use copy semantics instead for add/remove.

[2018-02-26 09:44] mjpt777 commented on #472
The same issue applies to the poll methods.

[2018-02-26 13:57] arpmipg commented on #466
Works fine with 1.8.0.
Thank you.

[2018-02-26 13:57] #466 closed

[2018-02-26 18:02] tmontgomery commented on #472
Move semantics in now. Feel free to examine it. Feedback always welcome.

[2018-02-26 19:20] goglusid commented on #472
As usual you are very fast to respond! The changes are fine with me and do resolve the issue I found. Thank you very much!

[2018-02-26 19:20] #472 closed

[2018-02-28 18:50] tmontgomery commented on #460
All in now. Naming of "Mark" files instead of CnC files.

[2018-02-28 18:50] #460 closed

[2018-02-28 18:50] tmontgomery commented on #452
All done.

[2018-02-28 18:50] #452 closed

[2018-03-03 03:09] bjlgcxc opened #473 "Encoded message exceeds maxMessageLength of 2097152"
java.lang.RuntimeException: java.lang.IllegalArgumentException: Encoded message exceeds maxMessageLength of 2097152, length=4724678

Caused by: java.lang.IllegalArgumentException: Encoded message exceeds maxMessageLength of 2097152, length=4724678
        at io.aeron.Publication.checkForMaxMessageLength(Publication.java:467)
        at io.aeron.Publication.offer(Publication.java:333)
        at io

[2018-03-03 08:28] mjpt777 commented on #473
You can increase the length of the term buffer but this is ultimately limited to 16MB maximum for Aeron. However really large messages are a design smell. It is better to break up you message into chunks for transmission.

[2018-03-08 21:14] StephanDollberg opened #476 "C++ client: heap-use-after-free with long running fragment handlers (> resource linger timeout)"
Hello,

I see the following potential heap-use-after-free:

user thread calls `Subscription::poll` which loads the image list:

    const struct ImageList *imageList = std::atomic_load_explicit(&m_imageList, std::memory_order_acquire);

Conductor thread does a `addImage` or `removeImage` and adds the old image list (in use by the user thread) to the freelist. E.g.: from `ClientConductor::onUnavail

[2018-03-09 18:11] #473 closed

[2018-03-09 18:13] mjpt777 commented on #449
This is done now for the Java driver and needs porting to C.

[2018-03-09 18:48] tmontgomery commented on #476
Yes, an interrupt that is longer than the linger timeout is a known issue in C++ as well as Java.

Less than ideal. We also know a few ways to address it and will eventually get to it. But until then, using a long enough linger is required.

[2018-03-10 09:04] StephanDollberg commented on #476
@tmontgomery thanks for the swift reply.

Is this documented anywhere? Might be good to leave a note somewhere.

Also feel free to close this issue or keep it open if you want to keep it as a tracking ticket.

[2018-03-10 16:27] tmontgomery commented on #476
Not sure if we've added it as a note on the javadoc or not. If so, then it might have been added to the C++ doxygen as well. Will check into that.

Let's leave this here for a little bit. I'll mark it as a question.

Thanks!

[2018-03-12 09:37] mjpt777 opened #480 "Add Media Driver PID to CnC file"
Needs to be supported across all languages.

[2018-03-12 17:02] tmontgomery commented on #480
I can grab this. Will rev the CnC version. Anything else needed to be added?

Start timestamp?

[2018-03-12 17:13] mjpt777 commented on #480
Yes start timestamp would be useful.

[2018-03-12 19:07] tmontgomery commented on #480
All in for Java, C++, and C

[2018-03-13 14:43] #465 closed

[2018-03-13 14:44] mjpt777 commented on #459
Closing the discussion. We can reopen another for further exploration of specific points.

[2018-03-13 14:44] #459 closed

[2018-03-13 14:46] #211 closed

[2018-03-13 14:49] mjpt777 commented on #464
Archive recording that are session specific can be marked as such and when the Image closes then the recording subscription can be removed by tracking this in the session.

[2018-03-13 14:52] mjpt777 commented on #238
There are lots of examples of this in the archive and cluster code with publishers on the producer side and adapters on the consumer side.

https://github.com/real-logic/aeron/blob/master/aeron-cluster/src/main/java/io/aeron/cluster/service/ServiceControlPublisher.java

https://github.com/real-logic/aeron/blob/master/aeron-cluster/src/main/java/io/aeron/cluster/service/ServiceControlAdapter.java

[2018-03-13 14:52] #238 closed

[2018-03-13 15:02] mjpt777 opened #482 "Subscriber backlog tool"
Create a tool which reads the counters to track the queue length for backlog between the receiver and the subscribers based on position counters. The tool can take into account the high-water-mark and the rebuild position.

[2018-03-13 15:03] tmontgomery commented on #482
This has been requested a few times. And thus would be fairly nice to have.

[2018-03-13 15:50] io7m commented on #459
Agreed, I will try again with the latest `master` soon.

[2018-03-13 16:24] mjpt777 opened #483 "Add source identity to receive position counter label"
This will help track of where connections are coming from for debugging.

This will be IPC for local or the source address when remote UDP.

This is the value returned from `Image.sourceIdentity()`.

[2018-03-13 16:29] mjpt777 opened #484 "Update Wiki for latest configuration options"
https://github.com/real-logic/aeron/wiki/Configuration-Options

https://github.com/real-logic/aeron/blob/master/aeron-driver/src/main/java/io/aeron/driver/Configuration.java

https://github.com/real-logic/aeron/blob/master/aeron-driver/src/main/java/io/aeron/driver/MediaDriver.java#L383

The archive features have yet to be included.

https://github.com/real-logic/aeron/blob/master/aeron-archive/sr

[2018-03-13 16:30] tmontgomery commented on #483
Might be good to do this for all image specific counters.... rcv-pos, rcv-hwm, and sub-pos.

[2018-03-13 16:35] mjpt777 opened #485 "Java embedded sample that cycles connections"
Create a sample which creates publications and subscriptions in a cycle so that connection establishment can be profiled.

This can be used as a guide for where to focus in speeding up connection establishment and find the sources allocation that may be eliminated.

Something contained like: https://github.com/real-logic/aeron/blob/master/aeron-samples/src/main/java/io/aeron/samples/EmbeddedBuffer

[2018-03-13 16:39] mjpt777 opened #486 "Improve endpoint parsing, i.e. don't use regex"
Improve endpoint parsing so it is less allocation and CPU intensive.

https://github.com/real-logic/aeron/blob/master/aeron-driver/src/main/java/io/aeron/driver/media/SocketAddressUtil.java#L26

[2018-03-13 18:12] mikeb01 commented on #486
I'll have a look at this.

[2018-03-13 20:31] mjpt777 opened #487 "Add the ability to truncate a stopped recording"
A recording used for clustering may need to be truncated to match an elected leader when late joining the cluster again.

This can be done by truncating the end of a recording. The position will need to be validated as being on a message fragment boundary in a similar way to how replays are validated.

[2018-03-15 16:35] davidt922 opened #488 "Getting error when trying to use Multi-Destination-Cast"
I am trying to use the Multi-Destination-Cast transportation, but I dont know how to configure-it, I am trying to implement the Example URIs explained here using the SimplePublisher.java and the SimpleSubscriber.java.

I have one publisher and two subscribers.

Using SimplePublisher.java and SimpleSubscriber.java, I've only changed:

- From SimplePublisher.java

`final String channel = "aeron:udp?

[2018-03-15 17:06] tmontgomery commented on #488
From the exceptions, UDP port 4050 and port 4051 on IP 192.168.0.3 and 192.168.0.4 are not assignable. Make sure Subscriber2 is actually on IP 192.168.0.5 and has nothing else bound to that port. Same with Publisher, etc.

[2018-03-15 20:59] davidt922 commented on #488
Sorry, i'm quite new with this library, the ip have to be my machine ip, so 'localhost' if both subcribers and the publisher are on the same machine?

[2018-03-16 15:27] tmontgomery commented on #488
For MDC, the publisher "control" is the local IP and port (or can be localhost, but then traffic is limited to the local machine). The subscription "endpoint" is the local IP (to the subscription) and port. As you are doing a manual MDC, you need to use `Publication.addDestination` for each subscription.

[2018-03-16 15:29] tmontgomery commented on #487
Presumably, this would need to also handle truncating on a previous segment than the last and unlinking the segment file.

[2018-03-16 19:04] goglusid opened #489 "C MediaDriver Publication Link wrt Publication Registration Id"
Could you  please confirm that the following is a bug?

In function aeron_driver_conductor_get_or_add_ipc_publication:

publication links are taking a pointer to a managed resource that is set to the original Registration Id of a publication.

**client->publication_links.array[client->publication_links.length++].resource =
                        &publication->conductor_fields.managed_resource;**

[2018-03-16 20:09] tmontgomery commented on #489
Yes, this is a problem. Fix incoming.

[2018-03-16 20:10] tmontgomery commented on #489
I believe this is now fixed with 9935f6204

[2018-03-16 20:14] tmontgomery commented on #489
To be clear what was effected. Shared publications (non-exclusive, same streamId+channelId) would miss track reference count when clients would close publications, but keep clients active.

[2018-03-16 23:37] goglusid commented on #489
Indeed that was the issue. Thank you!

[2018-03-16 23:37] #489 closed

[2018-03-16 23:38] tmontgomery commented on #489
No problem. Thanks for the details! Was very clear.

[2018-03-17 05:15] #237 closed

[2018-03-18 16:24] davidt922 commented on #488
100% Working, Thank you very much @tmontgomery

[2018-03-18 16:26] tmontgomery commented on #488
Glad it's working.

[2018-03-19 13:19] #488 closed

[2018-03-19 18:04] SemenChernyy opened #492 "Re-creation Aeron instance and publications on error"
Hi,

Can you say what should be the strategy of handling Aeron errors (e.g. Timeout in ClientConductor)?
Will it be correct to re-create Aeron and the publishers (say, application is only publishing)?

Basically, I am interested if the following strategy is viable and goes alogn with Aeron design and implementation point of view:
offer a new message to Aeron publisher (instance of io.aeron.Publica

[2018-03-19 21:01] tmontgomery commented on #492
A service timeout on the Aeron client indicates the client has not been responsive for the client liveness timeout in the driver. Thus the driver, in most cases, will consider the client to be dead.

This means the client should close and recreate all publications and subscriptions.

You should not need to recreate publications on failed offers. Even after a number of attempts. Unless the return i

[2018-03-19 21:06] mjpt777 commented on #492
It is also a good strategy to keep your software up to date. Both your Aeron version and JDK are very out of date.

[2018-03-22 15:28] samratbatth commented on #220
Any update on ef_vi with C media driver?

[2018-03-22 16:09] tmontgomery commented on #220
Still on the list. I've had some hardware issues, but mainly have been busy with other features. Will get back to ef_vi once Clustering is more feature-ful.

[2018-03-27 10:46] denizevrenci opened #496 "C++ Image availability handlers on a subscription level"
#312 discusses the addition of image availability handlers per subscription as opposed to per client. While Java client library has gotten this update, C++ client library has not been changed limiting the implementation of a pure async subscription handler.

[2018-03-27 15:34] tmontgomery commented on #496
The C++ API has this functionality.

https://github.com/real-logic/aeron/blob/master/aeron-client/src/main/cpp/Aeron.h#L180

[2018-03-28 14:53] denizevrenci commented on #496
Thank you. That was what I was looking for.

If you could allow a follow-up, I understand that `on_available_image` is telling that a new session has been established with the publisher. I might be missing this one as well but there does not seem to be a method to register a callback in the C++ API for messages (or fragments) received. Methods in both `Image` and `Subscription` are polling based.

[2018-03-29 04:16] mjpt777 commented on #487
Added with this commit. https://github.com/real-logic/aeron/commit/d07ede1c0df8353121143ddf5e408039936141aa

[2018-03-29 04:16] #487 closed

[2018-03-29 04:17] #492 closed

[2018-03-29 23:45] tmontgomery commented on #496
Currently, reception is poll based and delivered via a fragment handler. For low rate streams, using something like `SleepingIdleStrategy` between polls will be more than friendly to the OS and other threads.

[2018-03-30 01:25] denizevrenci commented on #496
That answers my question. Thank you.

[2018-03-30 01:25] #496 closed

[2018-04-06 11:43] io7m opened #498 "Session ID exhaustion doesn't appear to produce an actionable error message"
I'm experimenting with the new reserved session ID feature. Just to see what would happen, I configured the media driver thusly:

[code]

I then created a publication and had a client in another process subscribe to it. This happened (running with the debug agent set to `all`):

[code]

I feel like the code in the driver conductor goes into an infinite loop as it never finds a usable session ID:

[2018-04-06 14:52] io7m commented on #498
Hypothetical (but, I think, possibly realistic) situation where this can be a problem:

Clients subscribe to an _introduction_ publication. A client at address `a` subscribes and the publication says "New client at `a`: Connect to my port `p` using session ID `s`" (encrypted in some fashion so that other subscribers can't read that message). The intention is that port `p` is freshly allocated, hol

[2018-04-09 09:14] denizevrenci opened #499 "C++ client: `::mmap()` gets called with length 0"
In C++ client implementation, the constructor of `MemoryMappedFile` calls `::fstat()` to get the size of the CnC file. I get a return value of `0` so the function does not fail. However, file size obtained from here is also `0` if I start the driver while the Aeron directory does not exist and start the clients immediately (under 0.1 s) after that. If I wait for 1 s before starting the clients, th

[2018-04-09 14:39] denizevrenci commented on #499
Thank you for the quick fix.

[2018-04-17 12:08] #499 closed

[2018-04-20 12:19] denizevrenci opened #500 "`aeron::Context::newExclusivePublicationHandler()` is not in the API"
Without having a separate callback for `ExclusivePublication`s, the users of the Aeron API have to keep a list of registration IDs to identify whether they result from a call to`addPublication()` or `addExclusivePublication()` and call `findPublication()` or `findExclusivePublication()` accordingly.

Addition of `newExclusivePublicationHandler()` breaks existing code if `on_new_publication_t handl

[2018-04-20 20:48] tmontgomery commented on #500
Thanks for pointing this out.

I've added a handler for exclusive publications. The semantics of using the existing new publication handler if this new handler is not set, makes sense to me anyway. This also has the behavior of being compatible with existing applications as pointed out.

[2018-04-20 20:48] #500 closed

[2018-04-25 04:58] denizevrenci opened #501 "Archive codec specs include SBE Cpp keyword `position`"
In `aeron-archive/src/main/resources/aeron-archive-codecs.xml`, several message types use the field name `position`. However,  C++ code generator of SBE uses this name for a private data member and also provides public accessor and mutator methods which have the same signature as the one generated for the field with the same name. The generated class, therefore, has two `position()` members, viola

[2018-04-27 21:56] mjpt777 commented on #501
This method should have been sbePosition which has now been renamed. This will be breaking for those who used this method which should not have been a common occurrence.

https://github.com/real-logic/simple-binary-encoding/commit/1e7a70e2a8a467ef411f9abb18be86726871db3d

[2018-04-27 21:56] #501 closed

[2018-04-29 20:49] mjpt777 opened #503 "Better handle an archive replay for a recording that has no data as yet recorded"
No segment files exist until there is some data to record. The block handler could be simplified if the first segment is initialised in the `INIT` state for the `RecordingSession` and this can help a replay for data that does not as yet exist. The fragment header check can then be elided for the replay if it is from the `startPosition`.

[2018-05-01 14:51] #503 closed

[2018-05-11 15:14] manishbaphna opened #506 "[C++] build issue Linux"
Tried building latest version /C++11 on linux, faced few issues
gcc version 4.8.5 20150623 (Red Hat 4.8.5-4) (GCC)

1. It complained of duplicate definition of mmsghdr.
Somehow this section didn't do what it's supposed to do so I commented them in all relevant files
#if !defined(HAVE_STRUCT_MMSGHDR)
struct mmsghdr
{
    struct msghdr msg_hdr;
    unsigned int msg_len;
};
#endif

2. Then linker cri

[2018-05-11 15:17] tmontgomery commented on #506
What is the output of CMake at the beginning? You should see something akin to:

[code]

[2018-05-11 15:29] manishbaphna commented on #506
Yes, it did give that.  Though I can see sys/socket.h is available and has the definition.

[2018-05-11 15:32] tmontgomery commented on #506
What is the actual output you see?

[2018-05-11 15:33] manishbaphna commented on #506
exactly how you typed.

[2018-05-11 15:38] manishbaphna commented on #506
Here's error for #1
[ 63%] Building C object aeron-driver/src/main/c/CMakeFiles/aeron_driver.dir/aeron_driver_sender.c.o
/home/mb13808/workspace/aeron-master/aeron-driver/src/main/c/aeron_driver_sender.c:26:8: error: redefinition of âstruct mmsghdrâ
 struct mmsghdr
        ^
In file included from /home/mb13808/workspace/aeron-master/aeron-driver/src/main/c/aeron_driver_sender.c:22:0:
/usr/include/

[2018-05-11 15:43] manishbaphna commented on #506
Error for #2
[ 49%] Built target Throughput
[ 50%] Built target TimeTests
[ 50%] Linking C shared library ../../../../lib/libaeron_driver.so
/usr/bin/ld: cannot find -luuid
collect2: error: ld returned 1 exit status
gmake[2]: *** [lib/libaeron_driver.so] Error 1
gmake[1]: *** [aeron-driver/src/main/c/CMakeFiles/aeron_driver.dir/all] Error 2
gmake: *** [all] Error 2

[2018-05-11 15:45] tmontgomery commented on #506
The output I showed is from Mac where mmsghdr doesn't exist and thus falls back to defining it. As you mention that sys/socket.h has the definition and it appears to be finding it, I'm not sure how the CMake output is exactly what is shown, but the compilation fails on the struct being already defined.

Linux gcc/glibc versions are a little odd in that the flags vary quite a bit for compat. As gcc

[2018-05-14 07:58] manishbaphna commented on #506
I have tried with gcc version 6.1.0 but issue persists.
While #1 is not a show stopper,, #2 is . Any suggestion how can we work it around ? Tried playing with CMake files but it's not helping.

[2018-05-14 08:34] cesaref commented on #506
It's not clear to me what you are now seeing - does it build with gcc 6.1 but you have some runtime issues?

[2018-05-14 09:40] manishbaphna commented on #506
It's still not able to resolve libuuid issue

[2018-05-14 09:51] LordNacho opened #508 "Thread Names"
Hi,

I've found it useful to name the thread in Agentrunner.h. This allows devops to identify the thread and pin it to a core. Should I do a pull request, or has someone already thought about this?

pthread needs to be included.

`
std::string name("Aeron Agent");
#ifdef  __APPLE__
            pthread_setname_np(name.c_str());
#else
            pthread_setname_np(pthread_self(), name.c_str());
#en

[2018-05-14 11:11] mjpt777 commented on #508
The threads are named in the Java implementation and this helps with debugging. Feel free to submit a PR for this.

[2018-05-14 11:59] ayubsayyad commented on #506
@manishbaphna :
workaround:
comment out these lines with ${AERON_LIB_UUID_LIBS} in aeron-driver/src/main/c/CMakeLists.txt

target_link_libraries(
     aeron_driver
...
     #    ${AERON_LIB_UUID_LIBS}
...

 target_link_libraries(
     aeronmd
     aeron_driver
...
     #    ${AERON_LIB_UUID_LIBS}
  ...
 target_link_libraries(
     aeron_driver_agent
  ...
     #    ${AERON_LIB_UUID_LIBS}
....

[2018-05-14 23:47] tmontgomery commented on #506
Glad it can be worked around.

@manishbaphna can you paste the output of CMake where it does its configure? It is the start of the build and contains the lines I mentioned as well as compiler, etc.

It's strange that uuid must be found int the CMake find_library, but the final link fails. And would like to see if something is missed here.

[2018-05-15 15:41] tmontgomery commented on #506
Actually, the build tries to find libuuid and the uuid functions/headers separately. I would bet that the functions and headers are not found, but in the process, the library is found. But something else is not allowing it to be linked correctly. Probably a path is not correct for this setup as your original output mentions libuuid is found in a different directory (`/usr/lib64`).

If uuid can't b

[2018-05-20 10:29] ayubsayyad commented on #506
we can do somethinh like below ?, where uuid path will always be taken from where cmake found it.
[code]

[2018-05-21 04:33] leonchen83 opened #512 "aeron loss message"
@aeron version: 1.9.3

reproduce demo:
[code]

expected result:
[code]

real result:
[code]

I have already set `reliable=true` but still loss mesage, did I miss something?

[2018-05-21 04:36] leonchen83 commented on #512
In our scenario, the mesage length is not fixed, the max message length is reach to 32MB. Do you have any suggestions?

[2018-05-21 04:47] mjpt777 commented on #512
Do not create a new `FragmentAssember` on each poll operation. You need to keep this reuse it across poll operations.

[code]

[2018-05-21 04:57] leonchen83 commented on #512
I saw the `MAX_MESSAGE_LENGTH` = 16mb , how can I change this param?

[2018-05-21 05:19] mjpt777 commented on #512
You do not change this param. This is a deliberate design decision to discourage bad designs that use overly large messages. Large messages should be broken up into chucks and streamed then reassembled at the other end. See the following samples for how to do this.

https://github.com/real-logic/aeron/blob/master/aeron-samples/src/main/java/io/aeron/samples/FileSender.java

https://github.com/real

[2018-05-21 05:27] leonchen83 commented on #512
thanks for answer . I will close this issue

[2018-05-21 05:27] #512 closed

[2018-05-21 10:13] 2ZZ opened #513 "Source Specific Multicast (SSM) support"
Hi,

I am looking to implement Aeron in a Source Specific Multicast environment. Is this a compatible configuration? I don't see any reference to SSM in the code.

[2018-05-21 15:28] tmontgomery commented on #513
SSM is not currently supported. All multicast reception is currently `(*,G)`. Adding SSM is fairly straight forward, though.

[2018-05-21 20:26] #508 closed

[2018-05-28 14:14] #498 closed

[2018-06-21 09:34] stonetang opened #519 "FAILED: (99) Cannot assign requested address: unicast bind : Cannot assign requested address"
Ping -C "aeron:udp?endpoint=10.2.237.167:40124" -c "aeron:udp?endpoint=10.2.117.81:40123"

the err happened , while do it;  please help!

[2018-06-21 09:41] mjpt777 commented on #519
Please provide more details and a repeatable example.

[2018-06-21 09:50] stonetang commented on #519
while  communicating  in the tow host, one is pub,  another is sub, this err happened.

i  find sub channel bind socket, while  reading the code,  and why bind remote address?

[2018-06-21 09:51] stonetang commented on #519
FAILED: (99) Cannot assign requested address: unicast bind [10.2.237.167:40124] : Cannot assign requested address : std::shared_ptr<aeron::Subscription> aeron::ClientConductor::findSubscription(int64_t) : /home/tangminghong/msg-bus/aeron-src/aeron/aeron-client/src/main/cpp/ClientConductor.cpp : 273

[2018-06-21 10:16] stonetang commented on #519
please help me;  why Subscription  need to bind  remote address ?  the only locale address band socket

[2018-06-21 19:08] tmontgomery commented on #519
Try setting the BasicPublisher and BasicSubscriber channels to communicate in each direction, then try transposing those addresses into Ping and Pong channels.

[2018-06-22 08:49] #519 closed

[2018-06-22 08:55] stonetang opened #520 "Program terminated with signal SIGSEGV, Segmentation fault"
tow host communicateing,  one is Ping, another is Pong; and then kill Pong , Ping crashed

Core was generated by `./Ping -c aeron:udp?endpoint=10.2.237.167:40124 -C aeron:udp?endpoint=10.2.117.'.
Program terminated with signal SIGSEGV, Segmentation fault.
#0  aeron::concurrent::atomic::getInt32Volatile (source=0x7f3346028c00) at /home/tangminghong/msg-bus/aeron-src/aeron/aeron-client/src/main/cpp/

[2018-06-22 15:13] tmontgomery commented on #520
Did Ping crash immediately or only after some time of Pong being terminated?

[2018-06-25 01:01] stonetang commented on #520
only after some seconds  Ping crash

[2018-06-29 05:12] luengnat commented on #203
@tmontgomery anything planned out for this area?

[2018-07-04 14:44] tmontgomery commented on #203
@luengnat still on the list to do as mentioned. Clustering took precedence, but it is stabilizing quite nicely.

[2018-07-04 22:03] zyulyaev opened #523 "ArchiveException errorCode is not always provided"
https://github.com/real-logic/aeron/blob/276e10758b094b41dc563ad789cbe64683600527/aeron-archive/src/main/java/io/aeron/archive/ControlSession.java#L268

0 must be replaced by relevantId on the linked line

[2018-07-05 06:39] mjpt777 commented on #523
Thanks.

[2018-07-05 09:55] zyulyaev commented on #523
@mjpt777 Looks like you've fixed same bug, but on a different line.

[2018-07-06 16:38] #523 closed

[2018-07-10 20:01] zyulyaev opened #524 "AeronArchive sometimes throws TimeoutException"
Following snippet sometimes throws TimeoutException on `archive.stopRecording(channel, 1);` line.

[code]

[2018-07-10 20:06] mjpt777 commented on #524
The archive should enqueue new recordings.

I'll also update the Aeron client so it detects a reentrant call when current request is active.

[2018-07-11 20:24] zyulyaev opened #525 "AeronArchive timeouts on connect"
Following snippet throws `TimeoutException` on second `AeronArchive.connect`.

[code]

[2018-07-11 20:50] zyulyaev commented on #525
Looks like the problem is due to reusing archive egress publication, which leads to sending connect response before client's subscription actually connected.
Can be fixed by using exclusive publication instead.

[2018-07-12 15:54] #525 closed

[2018-07-12 15:55] #524 closed

[2018-07-12 20:26] benwimpory opened #527 "ClusterTool throws IllegalStateException on service container's custom directory"
The tool expects the CM mark file to be in the same directory.

Exception impacts ClusterTool.describe and likely to impact ClusterTool.errors too.

[2018-07-12 23:55] tmontgomery commented on #527
0d16bf360 should make this cleaner.

The initial behavior was to wait for a file for a timeout. This behavior can now be customized by setting `aeron.ClusterTool.timeoutMs`. This allows startup of a cluster to be waited on if desired. The default is not to wait.

[2018-07-12 23:55] #527 closed

[2018-07-14 15:47] helmesjo commented on #273
Still fails (version 1.10.1) on VS 12.

[2018-07-19 03:10] lukepalmer opened #529 "Proposal: shared_ptr for C++ client dependencies"
The C++ client has some implicit dependencies. For example, Aeron contains a reference to Context. Subscriber needs Aeron to remain in existence throughout its life.

This is not much of a problem when writing a C++ application, though it could be a minor annoyance if you want to do something like pass around a shared_ptr\<Subscription\> and not worry about the lifecycle of the rest.

When wrappin

[2018-07-25 08:14] cliveseldon opened #530 "Gradle build: cound not find com.github.johnrengelman.shadow 2.0.4"
./gradlew
Downloading https://services.gradle.org/distributions/gradle-4.9-all.zip
............................................................................................................

Welcome to Gradle 4.9!

Here are the highlights of this release:
 - Experimental APIs for creating and configuring tasks lazily
 - Pass arguments to JavaExec via CLI
 - Auxiliary publication dependency suppo

[2018-07-25 08:17] mjpt777 commented on #530
Try running the build again. Sometimes things fail to fetch from maven central.

[2018-07-25 08:21] cliveseldon commented on #530
Thanks. Worked 3rd time.

[2018-07-25 08:21] #530 closed

[2018-07-25 08:50] mjpt777 commented on #530
Seems that sometimes plugins.gradle.org is not available. Once cached locally then it tends to be OK.

[2018-07-27 19:31] lukepalmer commented on #529
I ended up finding a usable workaround, but happy to revisit if there's a good reason.

[2018-07-27 19:31] #529 closed

[2018-07-27 20:05] lukepalmer opened #533 "Expose fd in client for use with epoll"
We're in an environment with a bunch of data sources, almost all of which use epoll in order to know when to wake up.

In order to get the best latency in an Aeron client we have to busy spin. That unfortunately negatively impacts everything else that wants to use epoll.

Would it be possible to expose a file descriptor in the client (possibly to the mmaped image?) that would allow an aeron client

[2018-07-27 21:52] cesaref commented on #533
It sounds to me like you have core contention on your host, as otherwise I can't see why aeron spinning would adversely affect the latency of other processes running on the host (epolling or not).

Assuming you do have core contention, then i'd suggest re-evaluating whether the hardware has the capacity you need for the latency you are wanting to achieve. You can use csets to provide dedicated cor

[2018-07-28 02:19] lukepalmer commented on #533
Thanks for the reply. I probably didn't explain well. I have a single-threaded process that gets other data via epoll that I also want to use aeron with. It does work if I'm smart about polling, but was wondering about the possibility of getting everything into epoll.

[2018-07-28 02:34] lukepalmer opened #534 "Latency with C driver and multiple NICs"
I have a bit of unexplained behavior that I was hoping for comment on.

Machines A and B are Centos 7 with an Intel GbE NIC. I see expected behavior with Aeron multicast.

Machines C and D are the same as A and B but additionally have 2 each solarflare NICs. On these machines: using the java driver I see very good latency. Using the C driver I see 10ms added latency consistently added to multicast

[2018-07-29 20:09] tmontgomery commented on #529
I would like to make this cleaner. But changing the API has some issues for current users.

[2018-07-29 20:18] tmontgomery commented on #533
Wrapping a client agent invoker + polling mechanism into a duty cycle that also calls epoll for a set of FDs is not too hard to do and can be quite efficient. Instead of having Aeron indicate data by triggering an FD, you can simply call Subscription::poll and the client agent invoker from your duty cycle. i.e. instead of waiting on epoll, poll it, then poll Aeorn and agent invoker, and then if no

[2018-07-29 20:20] tmontgomery commented on #534
you mean 10 milli or 10 micro?

[2018-07-29 21:12] mjpt777 commented on #533
Another option to consider is is to put the connections into non-blocking mode and busy poll everything.

[2018-07-30 12:52] lukepalmer commented on #534
10 milliseconds. The good news with that is that hopefully it's just one specific issue.

I did a quick strace on the C driver which was showing delays and noticed only occasional clock syscalls.

[2018-07-30 14:51] tmontgomery commented on #534
What do you mean the C driver was showing delays?

[2018-07-30 14:54] lukepalmer commented on #534
On machines C and D in the setup above I was seeing 10ms latency specifically using the C driver. I ran 'strace aeronmd' just to see if it was making any unexpected syscalls. It was not.

[2018-07-30 14:59] tmontgomery commented on #534
Ah. The wording made it sound that strace was showing something.

Does the stats show any loss on either machine?

[2018-07-30 15:04] lukepalmer commented on #534
I'll check that and get back to you. Thanks for the response!

[2018-07-30 15:07] mjpt777 commented on #534
Are the files all stored in /dev/shm? If in the normal file system then page faults could explain the difference.

[2018-07-30 15:14] tmontgomery commented on #534
BTW, my best guess here would be that there is something odd with recvmmsg and sendmmsg going on with those machines. But loss needs to be ruled out first since that is much more likely.

[2018-07-30 15:16] lukepalmer commented on #534
@mjpt777 Not that I could easily see. I was running aeronmd with no options and checked that /dev/shm was tmpfs as usual.

Will check on the loss and get back to you, but note that the java driver worked very well on the same machines. This reproduced 100% of the time.

[2018-07-30 15:18] mjpt777 commented on #534
Does it make a difference if you run with and without onload?

[2018-07-30 15:20] lukepalmer commented on #534
@mjpt777 I saw the 10ms added latency in the C driver both with and without onload (as well as when specifying the unaccelerated intel NIC). Using the java driver I saw the expected improvement using onload.

[2018-07-30 15:30] tmontgomery commented on #534
@lukepalmer yes, perfectly normal strace.

[2018-07-31 13:28] ratcashdev opened #535 "Ping/Pong between two containers on Windows HOST"
Using https://github.com/AlexeyPirogov/aeron-docker/blob/master/docker-compose.yml as the definition for the containers:

First, check ping times:
[code]

Ping times seems to be all right for a laptop/docker. Next, do the actual Ping/Pong test:
[code]
@tmontgomery  any idea why am I getting the above horrible RTT?

[2018-07-31 13:34] mjpt777 commented on #535
How many threads do you have allocated to each VM? To busy spin successfully like this you require at least six available cores per VM.

[2018-07-31 15:01] ratcashdev commented on #535
the CPU has 4 cores + HT.
On the same laptop, when not using docker and starting a single MediaDriver with a Producer and a Consumer the observed latencies are around 10-20 microseconds.

[2018-08-02 19:02] mjpt777 commented on #520
Was this the Java or C media driver?

[2018-08-02 19:03] mjpt777 commented on #506
Closing this due to no further activity.

[2018-08-02 19:03] #506 closed

[2018-08-02 19:05] mjpt777 commented on #458
At present little can be done given the Java API and behaviour.

[2018-08-02 19:05] #458 closed

[2018-08-02 19:06] #449 closed

[2018-08-02 19:07] #273 closed

[2018-08-02 19:08] mjpt777 commented on #344
Google Benchmark upgraded to 1.4.0.

[2018-08-02 19:08] #344 closed

[2018-08-03 15:48] lukepalmer commented on #534
Ok! Got some info. It's still a mystery but I have some data.

The reason the C driver behaves differently than the java driver is only because of the default wait strategies. If I configure the java driver to busy spin on sender, receiver, and conductor then it also shows the same unexplained 10ms delay.

I notice that both the C and java drivers will only spin on 2 cores on the machines where th

[2018-08-03 15:52] tmontgomery commented on #534
Interesting.

The C driver will use PAUSE on a busy spin. Java on Java 8 will do an actual busy spin (no PAUSE).

Is there any CPU differences between the machines? especially between hyperthreads vs. physical threads?

[2018-08-03 16:01] lukepalmer commented on #534
I did my setting-changing with the java driver only, but am happy to on the C driver if interesting.

The machines have identical CPUs, both E5-2667V4.

[2018-08-04 07:14] mjpt777 commented on #534
Are these setups starved of CPU cores in some way? HT turned off? Containers used?

If sched_yield() = 0 is called then this suggests they are not busy spinning.

[2018-08-04 13:51] lukepalmer commented on #534
They're physical machines that were otherwise empty at the time. I didn't see anything unusual with HT but will check again.

On Monday I'll do an strace comparison between good/bad machines. Let me know if you think of anything else to check

[2018-08-05 16:08] ping-lee-pong opened #536 "Why does media driver image go unavailable?"
What purpose it solves in making subscription image go unavailable and become available again? Space in shared memory is not freed up in this time, so what is its purpose? Are any other resources freed up? Thanks you.

[2018-08-06 14:03] hwasin opened #537 "Session and Stream terms clarification"
I am a little bit confused in following terminology

Each time we create publication

`Publication publication = aeron.addPublication(CHANNEL, STREAM_ID_1);`

sessionId_1 is going to be generated for this publication.

If we create second one

`Publication publication = aeron.addPublication(CHANNEL, STREAM_ID_2);`

a new different sessionId_2 will be generated according to **Session** term and eac

[2018-08-07 11:59] hwasin commented on #537
Sub-session is a usage of shared concurrent publication by some process (thread) and all these sub-sessions share same session-id1 (by definition) and stream-id1, because for another stream-id2 separate session-id2 is going to be generated. And here i cannot understand, how to share multiple different stream-id1 and stream-id2 in one session-id as defined in _Stream_ definition above.

[2018-08-07 18:32] mattgodbolt opened #539 "JVM crash when driver times out"
I've experienced a number of JVM crashes when single stepping. My setup is:

* Java media driver (in process)
* Java receiver
* C++ separate process sender
* Using IPC

If I breakpoint in the java side, the C++ code understandably times out and detaches from the media driver.

The java code dies:

[code]

Sometimes I get a bit of stack in the death throes:

[code]

this is using aeron v1.9.3 on th

[2018-08-08 10:15] nitsanw commented on #539
IME this can happen due to IDE trying to call .toString on objects at a bad
time.

On Tue, Aug 7, 2018 at 8:32 PM, Matt Godbolt <notifications@github.com>
wrote:

[2018-08-08 17:36] mjpt777 commented on #537
Maybe @tmontgomery can clarify as he wrote the wiki page ;-)

[2018-08-08 20:32] mikeb01 opened #540 "Can position values be shared across processes?"
I have a scenario where I have 2 processes using the same media driver.  One with a subscription and another with a spy on that subscription.  If I get the last read position from an image within the subscription.  E.g. `subscription.images().get(0).position()` and pass the value to the other process running the spy. Assuming the same channel, streamId, sessionId triple can I use that position val

[2018-08-08 20:46] tmontgomery commented on #540
Yes. The position can be filled however you like for the poll. Can come in via another channel, etc. Or could be computed, etc.

[2018-08-08 21:42] tmontgomery commented on #537
The "sub-session" language is referring to stream Ids. It represents the fact that, from a PURELY specification perspective, it is fine to have the same Session ID on 2 different Stream IDs.

[2018-08-08 22:32] mikeb01 commented on #540
Excellent.

[2018-08-08 22:32] #540 closed

[2018-08-09 12:43] hwasin commented on #537
But from aeron **_implementation_** perspective i can't get it how to share a single Session ID on 2 different Stream IDs.

[2018-08-09 12:48] mjpt777 commented on #537
You cannot. Stream IDs providing multiplexing within a channel, and session ids are individual instances of streams on a given channel for a given stream id.

[2018-08-09 12:49] mjpt777 commented on #537
What @tmontgomery is saying is that session ids must be unique on a channel and stream id pairing at a given instance in time.

[2018-08-09 12:50] mjpt777 commented on #537
The actually Aeron implementation will have unique session ids for all publications on a given driver by default.

[2018-08-09 13:41] mjpt777 commented on #537
I've made some updates to the spec which will hopefully help.

[2018-08-09 14:00] kostya-sh opened #541 "Unreliable slow subscriber skipping too much data"
Currently an image goes unavailable and becomes available again for subscriptions that cannot keep up with the publisher in multi subscription environment. When this happens the subscriber is not getting any data for the `aeron.image.liveness.timeout` nanoseconds (10 seconds by default). This seems to be overkill for an unreliable (reliable=false) subscription where the gap can be filled immediate

[2018-08-09 16:04] kostya-sh commented on #541
Thank you for your answer.  Also thank you for correcting my understanding that NAKs are not used on overrun.

Just to clarify further I used StreamingPublisher to make it easy to reproduce and demonstrate the described situation. In our real app this happens much less frequently (~1 time a week with normal conditions and up to once every hour during stress test). We would prefer a slow subscriber

[2018-08-09 16:29] tmontgomery commented on #541
No worries.

I would suggest that the receiver window should be increased (assuming the default). And probably using the suggested params for throughput performance.

https://github.com/real-logic/aeron/wiki/Performance-Testing (2M window)
https://github.com/real-logic/aeron/tree/master/aeron-samples/scripts

The receiver window defines the overrun. So, a larger window is essential. Especially for

[2018-08-10 00:47] stonetang commented on #520
C media driver

[2018-08-10 14:45] tmontgomery commented on #520
Was not able to reproduce this as of yet.

Think this is the normal chance of the image being caught at the same time as it is removed by the driver.

[2018-08-13 06:42] ratcashdev opened #542 "Multiple NIC recommended setup"
Please advice about the recommended setup for a box with multiple NICs.
The objective is to be able to send to multiple addresses internally (UNICAST) with the same throughput as would be the case with a single NIC to a single address.

From https://github.com/real-logic/aeron/wiki/Best-Practices-Guide I understand it's is necessary to have 3 threads for the Media Driver. The question is, are thes

[2018-08-13 08:43] mjpt777 commented on #539
@nitsanw Is this any specific object types?

[2018-08-13 10:28] nitsanw commented on #539
@mjpt777 this is due to IDE calling toString so it can show you values in the "variables" window. I've seen it before in cases where the resource being used in the toString method is no longer valid, e.g. where the getShort above would be using some offset into a buffer that has been released.

[2018-08-15 09:52] kostya-sh commented on #541
Thank you for the helpful advice.

[2018-08-15 09:52] #541 closed

[2018-08-15 14:46] hwasin opened #543 "JVM crash with EXCEPTION_ACCESS_VIOLATION reason"
I am getting JVM error just after starting the application with two local peers communicating to each other. Each peer offers and polls data without idle strategies. After few messages sent, JVM crashes. What can cause such error?

\#
\# A fatal error has been detected by the Java Runtime Environment:
\#
\#  EXCEPTION_ACCESS_VIOLATION (0xc0000005) at pc=0x000000000321b8f1, pid=41528, tid=0x0000000

[2018-08-15 14:52] mjpt777 commented on #543
Can you attach the error log? - hs_err_pid41528.log

It is likely to be a GC or starvation issue.

[2018-08-15 15:00] mjpt777 commented on #543
A case that often comes up is another thread calling close on the Aeron client while one is polling.

[2018-08-15 15:41] hwasin commented on #543
[hs_err_pid43412.log](https://github.com/real-logic/aeron/files/2290751/hs_err_pid43412.log)

[2018-08-15 15:43] hwasin commented on #543
attached another log but with same cause

[2018-08-15 15:55] mjpt777 commented on #543
There are a lot of threads in that process. Do you have sufficient cores to run without timeout? Also what is the contents of the error logs and system counters?

[2018-08-15 15:59] mjpt777 commented on #543
I can see that is only a 2 core machine. Try run with the `ThreadingMode.SHARED` on the driver and a backoff idle strategy. The polling clients will also need an idle strategy.

[2018-08-16 10:51] #536 closed

[2018-08-16 15:51] mjpt777 commented on #539
@mattgodbolt Is this happening in the client or driver process?

[2018-08-16 17:09] mjpt777 commented on #543
For that error to occur then the CnC file would need to have been unmapped. Something in your code as called Aeron.close() while under resource starvation. This commit should avoid the segfault and help track down what is happening. https://github.com/real-logic/aeron/commit/96278bd68853fd13632c66686a1df32dab44c306

[2018-08-17 12:00] hwasin commented on #543
I think you are right. Aeron.Context::aeronContext.close() is invoked in my code. After removing it, error has gone. Does it mean that i should not close aeronContext in my code, but it should be closed through CloseHelper.close(mediaDriver)?

[2018-08-17 12:02] mjpt777 commented on #543
You should call `Aeron.close()` when finished with the Aeron client and any associated Publications, Subscriptions, or Counters.

[2018-08-17 12:03] mjpt777 commented on #543
Closing the media driver is a separate concept.

[2018-08-18 11:45] mjpt777 commented on #359
@neekolashall I think I've tracked this to a big endian issue that will be fixed in the next release.  Please let us know if the a release after 1.10.4 works for you.

[2018-08-18 17:30] mattgodbolt commented on #539
Hi @mjpt777 sorry for the late reply. I'm using an embedded driver so I can't easily tell. I'm debugging the client though.

[2018-08-19 09:28] mjpt777 commented on #464
Close this for now as not immediately required. Can be reopened in the future if required.

[2018-08-19 09:28] #464 closed

[2018-08-19 11:29] mjpt777 commented on #534
Closing due to no further information.

[2018-08-19 11:31] #534 closed

[2018-08-19 11:33] mjpt777 commented on #539
With the latest version the linger timeout on resources is configurable in the Java client. You can set this figure high for debugging. https://github.com/real-logic/aeron/commit/ac2847d7f6275260d60fa4cc1e85c90c3e89ba77

[2018-08-20 06:33] neekolashall commented on #359
Thanks, I’ll give this a test tomorrow.  Out of interest what other big endian architecture did you resolve this for?

[2018-08-20 14:15] helmesjo opened #544 "Build fails on clang 3.9, 4 & 5 (not 6)"
I've created a [conan package for aeron](https://github.com/helmesjo/conan-aeron). It [fails when building](https://travis-ci.org/helmesjo/conan-aeron/builds/417223976) with clang (except version 6) with the following error:
[code]

PR #315 changed usages of `size_t` to `off_t`. Was this really necessary to make it compile for windows?

Any suggestions for a workaround?

[2018-08-20 18:53] tmontgomery commented on #544
Awesome that you've got a conan package for Aeron! Thanks!

Changing to `off_t` was done more for cleaning up. Don't think it is used for win32 build. `off_t` is a normal type, though, to have for Linux (and most POSIX) anyway. So, that is quite odd that it isn't finding the type. Could this be an include issue (or some sort of compat flag issue?)

[2018-08-21 23:26] neekolashall commented on #359
@mjpt777 I ran against a current snapshot (f53dab6195a1147dea720543cec92404172ff831) and encountered a jvm crash.  It seems that there are some new byte alignment issues that have crept into the codebase.

`$ java -cp aeron-all-1.10.6-SNAPSHOT.jar io.aeron.driver.MediaDriver
WARNING: /var/tmp/aeron-adm_nh7 already exists.
INFO: Aeron CnC file exists: /var/tmp/aeron-adm_nh7/cnc.dat
INFO: Aeron toDr

[2018-08-21 23:41] tmontgomery commented on #359
@neekolashall do you happen to have the error logs from the media driver? Will be in the current directory.

[2018-08-22 00:12] neekolashall commented on #359
Sure, here are the jvm crash logs for a few runs.

[hs_err_pid2241.log](https://github.com/real-logic/aeron/files/2308442/hs_err_pid2241.log)
[hs_err_pid2595.log](https://github.com/real-logic/aeron/files/2308443/hs_err_pid2595.log)
[hs_err_pid3391.log](https://github.com/real-logic/aeron/files/2308444/hs_err_pid3391.log)
[hs_err_pid18330.log](https://github.com/real-logic/aeron/files/2308445/hs_e

[2018-08-22 00:38] tmontgomery commented on #359
Thanks! I see the same cause for those. The ImagesBufferReadyFlyweight is possibly misaligned on the `sourceIdentity` field length depending on filename length.

That is one we kind of know about. @mjpt777 and I have discussed changes for this. In trying to keep compatible with SBE, this is an issue as SBE has no way to prevent misaligned varData length fields. Although, we do know the charset and

[2018-08-22 11:12] mjpt777 commented on #359
There is a change in the SBE 2.0 RC spec that allows for var data and repeating group headers to be aligned. We could take a similar approach and align the var data length fields. I can find two sources: `ImagesBufferReadyFlyweight`  and `CounterMessageFlyweight`.

[2018-08-22 11:14] mjpt777 commented on #359
It will happen on the basic-publisher when the new publication matches an existing subscription and it is filtering the broadcast events and the error happen in the driver.

[2018-08-22 20:11] mjpt777 commented on #359
@neekolashall Can you try the latest build?

[2018-08-22 20:42] mjpt777 commented on #483
There is insufficient space for this given the inclusion of the channel URI.

[2018-08-22 20:42] #483 closed

[2018-08-22 21:26] lukepalmer commented on #533
Agree that I can do this as you've suggested- closing.

[2018-08-22 21:26] #533 closed

[2018-08-22 22:00] lukepalmer opened #545 "C++ client orderly shutdown"
I'd like to have an application using an Aeron client operate in a degraded state (without Aeron) if the driver becomes unreachable.

I can prevent an immediate exit by specifying an error handler to the context, but it seems that without the driver the client will eventually become unhealthy and segfault. I think that this is because the client conductor will continue trying to do work (such as w

[2018-08-23 01:40] neekolashall commented on #359
@mjpt777 I'm happy to report the latest commit 277929dea1afcd4cb16c71aeaf6473f2df17635a seems to have resolved the issues.  I verified with the streaming performance test and the ping/pong latency test.  Hopefully this exercise has contributed some value to Aeron.  Very impressive turnaround.

I've attached the cpuinfo from kstat and the sample console notes with the notes/console results.
[cpu_in

[2018-08-23 09:46] mjpt777 commented on #359
@neekolashall BTW are you using the C or Java Media Driver?

[2018-08-23 19:45] lukepalmer commented on #425
Interested as well. Similar to #529, where @tmontgomery  says:

[2018-08-24 14:48] warnesey333 opened #546 "Java – Excess InetAddress objects created after receiving Status Messages"
I am currently running into an issue whereby the Media Driver is garbage collecting ~150mb every 2 – 3 hours. After looking at a few heap dumps, it appears that there are a number of InetAddress and InetSocketAddress objects being created whenever a StatusMesage is received. I’ve tried debugging and my current findings are:

- Media Drivers send out a StatusMessage every 200ms to a publisher of a

[2018-08-26 11:43] mjpt777 commented on #545
How about just letting the Aeron client go out of scope and it will clean itself up? When you detect the exception then delete the client.

[2018-08-27 00:11] dpcleve opened #547 "Ping Pong Multicast problem"
Hello,
I'm trying to use the Ping/Pong example to get started with multicast testing (Windows 10).  I'm using a desktop and wired laptop for the test.  Here are the script files i'm using for the various tests.  When I run the ping and pong scripts on the same machine, it works, but not when running one from the laptop.  However, the basic pub and sub scripts work when one is on the laptop.  I've

[2018-08-27 02:03] dpcleve commented on #547
I actually got this working.  I was simply not waiting long enough.  I was seeing the "warming up..." but would not see the "pinging 1000000 messages".  But after I tried again and waiting for a long time, it appeared.  Checking aeron-stat shows bytes transferring, albeit very very slowly.  Around pings per second.  Its been running for over and hour and still not completed...

[2018-08-27 02:55] dpcleve commented on #547
[code]

[2018-08-27 02:55] #547 closed

[2018-08-27 11:15] #539 closed

[2018-08-27 11:29] mjpt777 commented on #544
@tmontgomery how do you feel about moving to a convention that each file can compile on its own with dependencies? If a header has dependencies it includes them. This should address such issues.

[2018-08-27 18:03] tmontgomery commented on #544
We have this somewhat in the C driver. But, yes, some includes should be moved to the headers in the C++ API.

[2018-08-28 15:37] lukepalmer commented on #545
I think your idea is good, but I had some trouble. If I delete the client I observe that join() throws when the conductor thread attempts to stop. I'm going to try and make a minimized test case.

I was able to work around this by using a agentinvoker, which of course I can just stop invoking when I want to.